@charset "UTF-8";
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.fs-38 {
  font-size: 38px;
}

.fs-40 {
  font-size: 40px;
}

.fs-42 {
  font-size: 42px;
}

.fs-44 {
  font-size: 44px;
}

.fs-46 {
  font-size: 46px;
}

.fs-48 {
  font-size: 48px;
}

.fs-50 {
  font-size: 50px;
}

.fs-52 {
  font-size: 52px;
}

.fs-54 {
  font-size: 54px;
}

.fs-56 {
  font-size: 56px;
}

.fs-58 {
  font-size: 58px;
}

.fs-60 {
  font-size: 60px;
}

.fs-62 {
  font-size: 62px;
}

.fs-64 {
  font-size: 64px;
}

.fs-66 {
  font-size: 66px;
}

.fs-68 {
  font-size: 68px;
}

.pd-f5 {
  padding: 5px;
}

.pd-x5 {
  padding: 0 5px;
}

.pd-y5 {
  padding: 5px 0;
}

.pd-t5 {
  padding-top: 5px;
}

.pd-b5 {
  padding-bottom: 5px;
}

.pd-l5 {
  padding-left: 5px;
}

.pd-r5 {
  padding-right: 5px;
}

.mg-f5 {
  margin: 5px;
}

.mg-x5 {
  margin: 0 5px;
}

.mg-y5 {
  margin: 5px 0;
}

.mg-t5 {
  margin-top: 5px;
}

.mg-b5 {
  margin-bottom: 5px;
}

.mg-l5 {
  margin-left: 5px;
}

.mg-r5 {
  margin-right: 5px;
}

.pd-f10 {
  padding: 10px;
}

.pd-x10 {
  padding: 0 10px;
}

.pd-y10 {
  padding: 10px 0;
}

.pd-t10 {
  padding-top: 10px;
}

.pd-b10 {
  padding-bottom: 10px;
}

.pd-l10 {
  padding-left: 10px;
}

.pd-r10 {
  padding-right: 10px;
}

.mg-f10 {
  margin: 10px;
}

.mg-x10 {
  margin: 0 10px;
}

.mg-y10 {
  margin: 10px 0;
}

.mg-t10 {
  margin-top: 10px;
}

.mg-b10 {
  margin-bottom: 10px;
}

.mg-l10 {
  margin-left: 10px;
}

.mg-r10 {
  margin-right: 10px;
}

.pd-f15 {
  padding: 15px;
}

.pd-x15 {
  padding: 0 15px;
}

.pd-y15 {
  padding: 15px 0;
}

.pd-t15 {
  padding-top: 15px;
}

.pd-b15 {
  padding-bottom: 15px;
}

.pd-l15 {
  padding-left: 15px;
}

.pd-r15 {
  padding-right: 15px;
}

.mg-f15 {
  margin: 15px;
}

.mg-x15 {
  margin: 0 15px;
}

.mg-y15 {
  margin: 15px 0;
}

.mg-t15 {
  margin-top: 15px;
}

.mg-b15 {
  margin-bottom: 15px;
}

.mg-l15 {
  margin-left: 15px;
}

.mg-r15 {
  margin-right: 15px;
}

.pd-f20 {
  padding: 20px;
}

.pd-x20 {
  padding: 0 20px;
}

.pd-y20 {
  padding: 20px 0;
}

.pd-t20 {
  padding-top: 20px;
}

.pd-b20 {
  padding-bottom: 20px;
}

.pd-l20 {
  padding-left: 20px;
}

.pd-r20 {
  padding-right: 20px;
}

.mg-f20 {
  margin: 20px;
}

.mg-x20 {
  margin: 0 20px;
}

.mg-y20 {
  margin: 20px 0;
}

.mg-t20 {
  margin-top: 20px;
}

.mg-b20 {
  margin-bottom: 20px;
}

.mg-l20 {
  margin-left: 20px;
}

.mg-r20 {
  margin-right: 20px;
}

.pd-f25 {
  padding: 25px;
}

.pd-x25 {
  padding: 0 25px;
}

.pd-y25 {
  padding: 25px 0;
}

.pd-t25 {
  padding-top: 25px;
}

.pd-b25 {
  padding-bottom: 25px;
}

.pd-l25 {
  padding-left: 25px;
}

.pd-r25 {
  padding-right: 25px;
}

.mg-f25 {
  margin: 25px;
}

.mg-x25 {
  margin: 0 25px;
}

.mg-y25 {
  margin: 25px 0;
}

.mg-t25 {
  margin-top: 25px;
}

.mg-b25 {
  margin-bottom: 25px;
}

.mg-l25 {
  margin-left: 25px;
}

.mg-r25 {
  margin-right: 25px;
}

.pd-f30 {
  padding: 30px;
}

.pd-x30 {
  padding: 0 30px;
}

.pd-y30 {
  padding: 30px 0;
}

.pd-t30 {
  padding-top: 30px;
}

.pd-b30 {
  padding-bottom: 30px;
}

.pd-l30 {
  padding-left: 30px;
}

.pd-r30 {
  padding-right: 30px;
}

.mg-f30 {
  margin: 30px;
}

.mg-x30 {
  margin: 0 30px;
}

.mg-y30 {
  margin: 30px 0;
}

.mg-t30 {
  margin-top: 30px;
}

.mg-b30 {
  margin-bottom: 30px;
}

.mg-l30 {
  margin-left: 30px;
}

.mg-r30 {
  margin-right: 30px;
}

.pd-f35 {
  padding: 35px;
}

.pd-x35 {
  padding: 0 35px;
}

.pd-y35 {
  padding: 35px 0;
}

.pd-t35 {
  padding-top: 35px;
}

.pd-b35 {
  padding-bottom: 35px;
}

.pd-l35 {
  padding-left: 35px;
}

.pd-r35 {
  padding-right: 35px;
}

.mg-f35 {
  margin: 35px;
}

.mg-x35 {
  margin: 0 35px;
}

.mg-y35 {
  margin: 35px 0;
}

.mg-t35 {
  margin-top: 35px;
}

.mg-b35 {
  margin-bottom: 35px;
}

.mg-l35 {
  margin-left: 35px;
}

.mg-r35 {
  margin-right: 35px;
}

.pd-f40 {
  padding: 40px;
}

.pd-x40 {
  padding: 0 40px;
}

.pd-y40 {
  padding: 40px 0;
}

.pd-t40 {
  padding-top: 40px;
}

.pd-b40 {
  padding-bottom: 40px;
}

.pd-l40 {
  padding-left: 40px;
}

.pd-r40 {
  padding-right: 40px;
}

.mg-f40 {
  margin: 40px;
}

.mg-x40 {
  margin: 0 40px;
}

.mg-y40 {
  margin: 40px 0;
}

.mg-t40 {
  margin-top: 40px;
}

.mg-b40 {
  margin-bottom: 40px;
}

.mg-l40 {
  margin-left: 40px;
}

.mg-r40 {
  margin-right: 40px;
}

.pd-f45 {
  padding: 45px;
}

.pd-x45 {
  padding: 0 45px;
}

.pd-y45 {
  padding: 45px 0;
}

.pd-t45 {
  padding-top: 45px;
}

.pd-b45 {
  padding-bottom: 45px;
}

.pd-l45 {
  padding-left: 45px;
}

.pd-r45 {
  padding-right: 45px;
}

.mg-f45 {
  margin: 45px;
}

.mg-x45 {
  margin: 0 45px;
}

.mg-y45 {
  margin: 45px 0;
}

.mg-t45 {
  margin-top: 45px;
}

.mg-b45 {
  margin-bottom: 45px;
}

.mg-l45 {
  margin-left: 45px;
}

.mg-r45 {
  margin-right: 45px;
}

.pd-f50 {
  padding: 50px;
}

.pd-x50 {
  padding: 0 50px;
}

.pd-y50 {
  padding: 50px 0;
}

.pd-t50 {
  padding-top: 50px;
}

.pd-b50 {
  padding-bottom: 50px;
}

.pd-l50 {
  padding-left: 50px;
}

.pd-r50 {
  padding-right: 50px;
}

.mg-f50 {
  margin: 50px;
}

.mg-x50 {
  margin: 0 50px;
}

.mg-y50 {
  margin: 50px 0;
}

.mg-t50 {
  margin-top: 50px;
}

.mg-b50 {
  margin-bottom: 50px;
}

.mg-l50 {
  margin-left: 50px;
}

.mg-r50 {
  margin-right: 50px;
}

* {
  font-family: '微软雅黑', arial, sans-serif, "Open Sans", sans-serif;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img,
select {
  padding: 0;
  margin: 0;
}

body {
  color: #606060;
  font-size: 14px;
  font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  /*word-wrap:normal;*/
  _background-attachment: fixed;
  -webkit-text-size-adjust: none;
}

td {
  word-wrap: break-word;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table .table {
  background-color: #ffffff;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  border-top-left-radius: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  border-top-right-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  border-bottom-left-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  border-bottom-right-radius: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  border-bottom-left-radius: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  border-bottom-right-radius: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  border-top-left-radius: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  border-top-right-radius: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ol,
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
.h1 {
  font-size: 25px;
}

h2,
.h2 {
  font-size: 21px;
}

h3,
.h3 {
  font-size: 18px;
}

h4,
.h4 {
  font-size: 16px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  color: #d9d9d9;
  background-color: #d9d9d9;
  height: 1px;
  overflow: hidden;
}

blockquote {
  color: #606060;
  font-style: italic;
}

sup,
sub {
  line-height: 0;
}

abbr,
acronym {
  border-bottom: 1px dotted #606060;
}

pre {
  white-space: pre;
}

pre,
code,
tt,
.pre_content {
  line-height: 2;
  font-size: 14px;
}

a {
  color: #606060;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  outline: none;
}

a:hover {
  text-decoration: underline;
  color: #0095CE;
}

a:active {
  /*star:expression(this.onFocus=this.blur());*/
}

input {
  outline: none;
}

input[type="text"],
input[type="password"] {
  vertical-align: middle;
  outline: none;
  border: 1px solid #ccc;
  padding: 0 3px;
  height: 21px;
  line-height: 21px;
}

select {
  vertical-align: middle;
  outline: none;
}

textarea {
  resize: none;
  outline: none;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  /*width:15px;height:15px;*/
  padding: 0;
  margin: 0;
  top: -2px;
  *top: 0px;
  position: relative;
  vertical-align: middle;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

/*clear clearfix*/
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  height: 0.1px;
  overflow: hidden;
}

/*config color*/
* + html div,
span,
a,
em,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td,
th,
ol,
table {
  *background: url(../imgs/ie_null.gif);
}

html {
  min-width: 1024px;
}

body {
  min-width: 1024px;
}

.g-min-w {
  min-width: 1024px;
}

.g-w-mid {
  width: 1200px;
  margin: 0px auto;
}

.g-w-mid-r {
  width: 1200px;
  margin: 0px auto;
  position: relative;
}

.s-w-mid {
  width: 1060px;
}

.s-min-w {
  min-width: 1024px;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

/*全局弹窗*/
.g-pop-view {
  position: absolute;
  z-index: 88888;
  left: 50%;
  top: 50%;
  display: none;
}

.g-pop-view .close {
  position: absolute;
  top: 7px;
  right: 8px;
  cursor: pointer;
  z-index: 100;
}

.g-pop-view .window-main-view {
  position: relative;
  z-index: 10;
  background: #fff;
  width: 100%;
}

.g-pop-mask {
  position: fixed;
  z-index: 88880;
  height: 100%;
  width: 100%;
  display: none;
  background: black;
  opacity: .3;
  filter: Alpha(opacity=30);
  top: 0;
  left: 0;
}

/*font-weight*/
.font-w-b {
  font-weight: bold !important;
}

.font-w-n {
  font-weight: normal !important;
}

.font-s-n {
  font-style: normal !important;
}

/*font-family*/
.f-f-ht {
  font-family: "黑体";
}

.f-f-st {
  font-family: "宋体";
}

.f-f-wy {
  font-family: "微软雅黑";
}

.f-f-squada {
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
}

.f-f-paprika {
  font-family: 'Paprika', cursive;
}

.f-f-century {
  font-family: "Century Gothic", Helvetica, sans-serif;
}

.f-f-georgia {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.f-f-frontage {
  font-family: "Frontage Regular", Arial, sans-serif;
  font-weight: normal;
}

.f-f-futurastd {
  font-family: 'FuturaStd', sans-serif;
}

.f-f-microsoft {
  font-family: 'microsoft yahei', Arial, sans-serif;
}

.f-f-andes {
  font-family: 'Andes';
}

.f-f-impact {
  font: 20px 'Impact';
}

/*text-overflow*/
.text-of {
  width: auto;
  overflow: hidden;
  word-wrap: normal;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  vertical-align: middle;
}

.text-disabled,
.text-disabled:hover {
  color: #D1D1D1 !important;
  cursor: default !important;
  text-decoration: none !important;
}

/*webkit内核浏览器滚动条样式 start*/
.webkit-scroll::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.webkit-scroll::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

.webkit-scroll::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  box-shadow: -3px 0 0 white inset, 3px 0 0 white inset;
  border-radius: 10px;
  opacity: .5;
}

.webkit-scroll::-webkit-scrollbar-thumb:hover {
  background: #ebebeb;
  box-shadow: -3px 0 0 white inset, 3px 0 0 white inset, 0 0 8px #888 inset;
}

.webkit-scroll::-webkit-scrollbar-corner {
  /*边角*/
}

.webkit-scroll::-webkit-scrollbar-button {
  /*两端的按钮*/
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
       animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
    -o-animation-name: fadeOut;
       animation-name: fadeOut;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes scaleIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
         transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
         transform: scale(1);
  }
}

@-o-keyframes scaleIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
       transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
       transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
       -moz-transform: scale(0.3);
         -o-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  -moz-animation-name: scaleIn;
    -o-animation-name: scaleIn;
       animation-name: scaleIn;
}

@-webkit-keyframes scaleOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
}

@-moz-keyframes scaleOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
         transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0.3);
         transform: scale(0.3);
  }
}

@-o-keyframes scaleOut {
  0% {
    opacity: 1;
    -o-transform: scale(1);
       transform: scale(1);
  }
  100% {
    opacity: 0;
    -o-transform: scale(0.3);
       transform: scale(0.3);
  }
}

@keyframes scaleOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
       -moz-transform: scale(0.3);
         -o-transform: scale(0.3);
            transform: scale(0.3);
  }
}

.scaleOut {
  -webkit-animation-name: scaleOut;
  -moz-animation-name: scaleOut;
    -o-animation-name: scaleOut;
       animation-name: scaleOut;
}

@-webkit-keyframes maskScaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  100% {
    opacity: .3;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes maskScaleIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
         transform: scale(0.3);
  }
  100% {
    opacity: .3;
    -moz-transform: scale(1);
         transform: scale(1);
  }
}

@-o-keyframes maskScaleIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
       transform: scale(0.3);
  }
  100% {
    opacity: .3;
    -o-transform: scale(1);
       transform: scale(1);
  }
}

@keyframes maskScaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
       -moz-transform: scale(0.3);
         -o-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: .3;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.maskScaleIn {
  -webkit-animation-name: maskScaleIn;
  -moz-animation-name: maskScaleIn;
    -o-animation-name: maskScaleIn;
       animation-name: maskScaleIn;
}

@-webkit-keyframes maskScaleOut {
  0% {
    opacity: .3;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
}

@-moz-keyframes maskScaleOut {
  0% {
    opacity: .3;
    -moz-transform: scale(1);
         transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0.3);
         transform: scale(0.3);
  }
}

@-o-keyframes maskScaleOut {
  0% {
    opacity: .3;
    -o-transform: scale(1);
       transform: scale(1);
  }
  100% {
    opacity: 0;
    -o-transform: scale(0.3);
       transform: scale(0.3);
  }
}

@keyframes maskScaleOut {
  0% {
    opacity: .3;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
       -moz-transform: scale(0.3);
         -o-transform: scale(0.3);
            transform: scale(0.3);
  }
}

.load-3 .line:nth-last-child(1) {
  -webkit-animation: loadingC .6s .1s linear infinite;
     -moz-animation: loadingC .6s .1s linear infinite;
       -o-animation: loadingC .6s .1s linear infinite;
          animation: loadingC .6s .1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
  -webkit-animation: loadingC .6s .2s linear infinite;
     -moz-animation: loadingC .6s .2s linear infinite;
       -o-animation: loadingC .6s .2s linear infinite;
          animation: loadingC .6s .2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
  -webkit-animation: loadingC .6s .3s linear infinite;
     -moz-animation: loadingC .6s .3s linear infinite;
       -o-animation: loadingC .6s .3s linear infinite;
          animation: loadingC .6s .3s linear infinite;
}

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #4b9cdb;
}

@-webkit-keyframes loadingC {
  0 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-moz-keyframes loadingC {
  0 {
    -moz-transform: translate(0, 0);
         transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(0, 15px);
         transform: translate(0, 15px);
  }
  100% {
    -moz-transform: translate(0, 0);
         transform: translate(0, 0);
  }
}

@-o-keyframes loadingC {
  0 {
    -o-transform: translate(0, 0);
       transform: translate(0, 0);
  }
  50% {
    -o-transform: translate(0, 15px);
       transform: translate(0, 15px);
  }
  100% {
    -o-transform: translate(0, 0);
       transform: translate(0, 0);
  }
}

@keyframes loadingC {
  0 {
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
       -moz-transform: translate(0, 15px);
         -o-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.maskScaleOut {
  -webkit-animation-name: maskScaleOut;
  -moz-animation-name: maskScaleOut;
    -o-animation-name: maskScaleOut;
       animation-name: maskScaleOut;
}

@media screen and (max-width: 1240px) {
  .g-w-mid {
    width: 1000px;
  }
}
