/** common css @Author bingoo **/
*{font-family:'微软雅黑',arial, sans-serif,"Open Sans",sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img,select{padding:0;margin:0;}
body{color:#606060;font-size:14px;font-family: "微软雅黑",Verdana,Arial,Helvetica,sans-serif;word-wrap:break-word;/*word-wrap:normal;*/_background-attachment:fixed;-webkit-text-size-adjust: none;}
table{border-collapse:collapse;border-spacing:0;max-width:100%;}
td{word-wrap: break-word;}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal}
ol,ul,li{list-style:none}
caption,th{}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1,.h1{font-size:25px}
h2,.h2{font-size:21px}
h3,.h3{font-size:18px}
h4,.h4{font-size:16px;}
h5,.h5{font-size:14px;}
h6,.h6{font-size:12px;}
q:before,q:after{content:''}
abbr,acronym{border:0}
hr {margin: 0;padding: 0;border: 0;color: #d9d9d9;background-color: #d9d9d9;height: 1px;overflow:hidden;}
blockquote{color:#606060;font-style:italic;}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted #606060}
pre{white-space:pre;}
pre,code,tt,.pre_content{line-height:2; font-size:14px;}
a{color:#606060; text-decoration:none;font-weight:400; font-style:normal; cursor:pointer;outline:none;}
a:hover{text-decoration:underline;color:#0095CE;}
a:active {/*star:expression(this.onFocus=this.blur());*/}
input{outline:none;}
input[type="text"],input[type="password"]{ vertical-align:middle;outline:none;border:1px solid #ccc;padding:0 3px;height:21px;line-height:21px;}
select{vertical-align: middle; outline:none;}
textarea{resize: none;outline:none;border:1px solid #ccc;}
input[type="checkbox"]{/*width:15px;height:15px;*/padding:0;margin:0;top:-2px;*top:0px;position:relative;vertical-align:middle;}
a,button,input{-webkit-tap-highlight-color:transparent;}

/*clear clearfix*/
.clearfix:after {content: "\0020";display: block; height: 0;clear: both; visibility: hidden; }
.clearfix {zoom:1;}
.clear{clear:both;height:0.1px;overflow:hidden;}

.h_Reverse{filter:fliph;-moz-transform: matrix(-1, 0, 0, 1, 0, 0);-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);-o-transform:matrix(-1, 0, 0, 1, 0, 0);}
.v_Reverse{filter:flipv;-moz-transform: matrix(1, 0, 0, -1, 0, 0);-webkit-transform: matrix(1, 0, 0, -1, 0, 0);-o-transform:matrix(1, 0, 0, -1, 0, 0);}

/*config color*/
*+html div,span,a,em,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,table,tr,td,th,ol,table{*background:url(../imgs/ie_null.gif);}/*for ie7*/
.max-img{max-width:100%;}
html{min-width:1240px;}
body{min-width:1240px;}
.g-min-w{min-width:1200px;}
.g-w-mid{width:1200px;margin:0px auto;}
.g-w-mid-r{width:1200px;margin:0px auto;position:relative;}
.s-w-mid{width:1060px;}
.s-min-w{min-width:1060px;}

/*全局弹窗*/
.g-pop-view{position:absolute;z-index:88888;left:50%;top:50%;display:none;}
.g-pop-view .close{position:absolute;top:7px;right:8px;cursor:pointer;z-index:100;}
.g-pop-view .window-main-view{position:relative;z-index:10;background:#fff;width:100%;}
.g-pop-mask{position:fixed;z-index:88880;height:100%;width:100%;display:none;background:black;opacity:.3;filter:Alpha(opacity=30);top:0;left:0;}

/*font-weight*/
.font-w-b{font-weight:bold !important;}
.font-w-n{font-weight:normal !important;}
.font-s-n{font-style:normal !important;}

/*font-family*/
.f-f-ht{font-family:"黑体";}
.f-f-st{font-family:"宋体";}
.f-f-wy{font-family:"微软雅黑";}
.f-f-squada{font-family: 'Squada One', cursive;text-transform: uppercase;}
.f-f-paprika{font-family: 'Paprika', cursive;}
.f-f-century{font-family: "Century Gothic",Helvetica,sans-serif;}
.f-f-georgia{font-family:Georgia, 'Times New Roman', Times, serif;}
.f-f-frontage{font-family: "Frontage Regular", Arial, sans-serif;font-weight: normal;}
.f-f-futurastd{font-family: 'FuturaStd', sans-serif;}
.f-f-microsoft{font-family: 'microsoft yahei',Arial,sans-serif;}
.f-f-andes{font-family: 'Andes';}
.f-f-impact{font:20px 'Impact';}

/*font color*/
.price-c{color:#f3560c !important;}
.normal-c{color:#606060 !important;}
.black-c{color:#000 !important;}
.white-c{color:#fff !important;}
.red-c{color:red !important;}
.blue-c{color:#0095CE !important;}
.green-c{color:#129401 !important;}
.yellow-c{color:#ffb400 !important;}
.orange-c{color:#fc7617 !important;}
.gray-c{color:#9c9c9c !important;}
.pink-c{color:#ff4f4f !important;}

/*text-overflow*/
.text-of{width:auto;overflow: hidden;word-wrap: normal;text-overflow: ellipsis;white-space: nowrap;display:block;vertical-align:middle;}
.text-disabled,.text-disabled:hover{color:#D1D1D1 !important;cursor:default !important;text-decoration:none !important;}

/*padding*/
.pd-3{padding:3px !important;}
.pd-w10{padding:10px !important;}
.pd-w15{padding:15px !important;}
.pd-w20{padding:20px !important;}
.pd-w25{padding:25px !important;}
.pd-w30{padding:30px !important;}
.pd-w35{padding:35px !important;}
.pd-t0{padding-top:0px !important;}
.pd-t5{padding-top:5px !important;}
.pd-t10{padding-top:10px !important;}
.pd-t15{padding-top:15px !important;}
.pd-t20{padding-top:20px !important;}
.pd-t25{padding-top:25px !important;}
.pd-t30{padding-top:30px !important;}
.pd-r0{padding-right:0px !important;}
.pd-r5{padding-right:5px !important;}
.pd-r10{padding-right:10px !important;}
.pd-r15{padding-right:15px !important;}
.pd-r20{padding-right:20px !important;}
.pd-r25{padding-right:25px !important;}
.pd-r30{padding-right:30px !important;}
.pd-b0{padding-bottom:0px !important;}
.pd-b5{padding-bottom:5px !important;}
.pd-b10{padding-bottom:10px !important;}
.pd-b15{padding-bottom:15px !important;}
.pd-b20{padding-bottom:20px !important;}
.pd-b25{padding-bottom:25px !important;}
.pd-b30{padding-bottom:30px !important;}
.pd-l0{padding-left:0px !important;}
.pd-l5{padding-left:5px !important;}
.pd-l10{padding-left:10px !important;}
.pd-l15{padding-left:15px !important;}
.pd-l20{padding-left:20px !important;}
.pd-l25{padding-left:25px !important;}
.pd-l30{padding-left:30px !important;}
.pd-no{padding:0px !important;}

/*margin*/
.mg-n-h-p{margin-left:-100%;}
.mg-t0{margin-top:0px !important;}
.mg-t5{margin-top:5px !important;}
.mg-t10{margin-top:10px !important;}
.mg-t15{margin-top:15px !important;}
.mg-t20{margin-top:20px !important;}
.mg-t25{margin-top:25px !important;}
.mg-t30{margin-top:30px !important;}
.mg-r0{margin-right:0px !important;}
.mg-r5{margin-right:5px !important;}
.mg-r10{margin-right:10px !important;}
.mg-r15{margin-right:15px !important;}
.mg-r20{margin-right:20px !important;}
.mg-r25{margin-right:25px !important;}
.mg-r30{margin-right:30px !important;}
.mg-b0{margin-bottom:0px !important;}
.mg-b5{margin-bottom:5px !important;}
.mg-b10{margin-bottom:10px !important;}
.mg-b15{margin-bottom:15px !important;}
.mg-b20{margin-bottom:20px !important;}
.mg-b25{margin-bottom:25px !important;}
.mg-b30{margin-bottom:30px !important;}
.mg-l0{margin-left:0px !important;}
.mg-l5{margin-left:5px !important;}
.mg-l10{margin-left:10px !important;}
.mg-l15{margin-left:15px !important;}
.mg-l20{margin-left:20px !important;}
.mg-l25{margin-left:25px !important;}
.mg-l30{margin-left:30px !important;}
.mg-3{margin:3px !important;}
.mg-no{margin:0px !important;}

/*float*/
.f-l{float:left !important;}
.f-r{float:right !important;}
.f-no{float:none !important;}

/*line-height*/
.l-h21{line-height:21px !important;}
.l-h25{line-height:25px !important;}
.l-h30{line-height:30px !important;}
.l-h35{line-height:35px !important;}
.l-h40{line-height:40px !important;}
.l-h45{line-height:45px !important;}

/*position*/
.ie7-p-r{*position:relative !important;}
.p-r{position:relative !important;}
.p-a{position:absolute !important;}
.p-f{position:fixed !important;_position:absolute !important;}
.p-s{position:static !important;}

/*background*/
.bg-no{background:none !important;}

/*css border*/
.bd-s-t{border-top:1px solid #d9d9d9 !important;}
.bd-s-r{border-right:1px solid #d9d9d9 !important;}
.bd-s-b{border-bottom:1px solid #d9d9d9 !important;}
.bd-s-l{border-left:1px solid #d9d9d9 !important;}
.bd-s-all{border:1px solid #d9d9d9 !important;}
.bd-d-t{border-top:1px dashed #d9d9d9 !important;}
.bd-d-r{border-right:1px dashed #d9d9d9 !important;}
.bd-d-b{border-bottom:1px dashed #d9d9d9 !important;}
.bd-d-l{border-left:1px dashed #d9d9d9 !important;}
.bd-no{border:none !important;}
.bd-t0{border-top:0 !important;}
.bd-r0{border-right:0 !important;}
.bd-b0{border-bottom:0 !important;}
.bd-l0{border-left:0 !important;}

/*angle icon*/
.ag-icon{position:relative;margin-left:5px;top:1px;display:inline-block;width:0;height:0;line-height:0;font-size:0;border:5px solid #c1c1c1;}
.ag-bd5{border-width:5px;}
.ag-bd10{border-width:10px;}
.ag-bd15{border-width:15px;}
.ag-bd20{border-width:20px;}
.ag-t{border-color:transparent transparent #c1c1c1 transparent;}
.ag-r{border-color:transparent transparent transparent #c1c1c1;}
.ag-b{border-color:#c1c1c1 transparent transparent transparent;}
.ag-l{border-color:transparent #c1c1c1 transparent transparent;}

/*common button*/
.btn-icon,
.b-btn-icon,
.b2-btn-icon,
.b3-btn-icon,
.p-btn-icon,
.o-btn-icon,
.o2-btn-icon,
.o3-btn-icon,
.w-btn-icon,
.g-btn-icon,
.transparent-btn-icon,
.g-page-box .btn-icon,
.action-bar-wrap .g-page-box .btn-icon{position:relative;display:inline-block;line-height:100%;text-align:center;cursor:pointer;padding:5px 10px;border-radius:3px;border:1px solid #d9d9d9;background-color:#efefef;/*,0 2px 5px #E0E0E0;*/text-decoration:none !important;
*vertical-align: middle;*line-height:normal !important;*padding:2px 10px;
background:#f2f2f2;color:#606060;
background: -webkit-linear-gradient(90deg, #f2f2f2, #fafafa);
background: -moz-linear-gradient(90deg, #f2f2f2, #fafafa);
background: -o-linear-gradient(90deg, #f2f2f2, #fafafa);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f2f2f2', GradientType='0');}
.btn-icon:hover{
background:#e1e1e1;color:#353535;
background: -webkit-linear-gradient(90deg, #e1e1e1, #fff);
background: -moz-linear-gradient(90deg, #e1e1e1, #fff);
background: -o-linear-gradient(90deg, #e1e1e1, #fff);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType='0');}
.b-btn-icon{color:#fff;
border:1px solid #5d85ea;background:#2a87dd;
background: -webkit-linear-gradient(90deg, #1e71ce, #389eed);
background: -moz-linear-gradient(90deg, #1e71ce, #389eed);
background: -o-linear-gradient(90deg, #1e71ce, #389eed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#389eed', endColorstr='#1e71ce', GradientType='0');}
.b-btn-icon:hover{color:#fff;
border:1px solid #297bd6;background:#348df1;
background: -webkit-linear-gradient(90deg, #297bd6, #31a5f2);
background: -moz-linear-gradient(90deg, #297bd6, #31a5f2);
background: -o-linear-gradient(90deg, #297bd6, #31a5f2);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31a5f2', endColorstr='#297bd6', GradientType='0');}
.b2-btn-icon{color:#fff;
border:1px solid #0590c5;background:#1c9ecf;
background: -webkit-linear-gradient(90deg, #2fa5d1, #0a99cf);
background: -moz-linear-gradient(90deg, #2fa5d1, #0a99cf);
background: -o-linear-gradient(90deg, #2fa5d1, #0a99cf);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a99cf', endColorstr='#2fa5d1', GradientType='0');}
.b2-btn-icon:hover{color:#fff;
border:1px solid #0590c5;background:#1c9ecf;
background: -webkit-linear-gradient(90deg, #34b3e3, #0a99cf);
background: -moz-linear-gradient(90deg, #34b3e3, #0a99cf);
background: -o-linear-gradient(90deg, #34b3e3, #0a99cf);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a99cf', endColorstr='#34b3e3', GradientType='0');}
.b3-btn-icon{color:#fff;
border:1px solid #0590c5;background:#1c9ecf;
background: -webkit-linear-gradient(90deg, #0a99cf, #2fa5d1);
background: -moz-linear-gradient(90deg, #0a99cf, #2fa5d1);
background: -o-linear-gradient(90deg, #0a99cf, #2fa5d1);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fa5d1', endColorstr='#0a99cf', GradientType='0');}
.b3-btn-icon:hover{color:#fff;
border:1px solid #0590c5;background:#1c9ecf;
background: -webkit-linear-gradient(90deg, #0a99cf, #34b3e3);
background: -moz-linear-gradient(90deg, #0a99cf, #34b3e3);
background: -o-linear-gradient(90deg, #0a99cf, #34b3e3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34b3e3', endColorstr='#0a99cf', GradientType='0');}
.p-btn-icon{color:#fff;
border:1px solid #ff4d4d;background:#ff5252;
background: -webkit-linear-gradient(90deg, #ff4d4d, #ff5959);
background: -moz-linear-gradient(90deg, #ff4d4d, #ff5959);
background: -o-linear-gradient(90deg, #ff4d4d, #ff5959);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5959', endColorstr='#ff4d4d', GradientType='0');}
.p-btn-icon:hover{color:#fff;
border:1px solid #ff6060;background:#ff6060;
background: -webkit-linear-gradient(90deg, #ff6969, #ff6969);
background: -moz-linear-gradient(90deg, #ff6969, #ff6969);
background: -o-linear-gradient(90deg, #ff6969, #ff6969);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6969', endColorstr='#ff6060', GradientType='0');}
.o-btn-icon{color:#fff;
border:1px solid #f3560c;background:#f4611c;
background: -webkit-linear-gradient(90deg, #f3570d, #f46b2a);
background: -moz-linear-gradient(90deg, #f3570d, #f46b2a);
background: -o-linear-gradient(90deg, #f3570d, #f46b2a);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46b2a', endColorstr='#f3570d', GradientType='0');}
.o-btn-icon:hover{color:#fff;
border:1px solid #ff6113;background:#ff7713;
background: -webkit-linear-gradient(90deg, #ff6113, #ff7713);
background: -moz-linear-gradient(90deg, #ff6113, #ff7713);
background: -o-linear-gradient(90deg, #ff6113, #ff7713);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7713', endColorstr='#ff6113', GradientType='0');}
.o2-btn-icon{color:#fff;
border:1px solid #e26f05;background:#fc9723;
background: -webkit-linear-gradient(90deg, #fc7d02, #fdb247);
background: -moz-linear-gradient(90deg, #fc7d02, #fdb247);
background: -o-linear-gradient(90deg, #fc7d02, #fdb247);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdb247', endColorstr='#fc7d02', GradientType='0');}
.o2-btn-icon:hover{color:#fff;
border:1px solid #f97b00;background:#fc840b;
background: -webkit-linear-gradient(90deg, #fc840b, #ffc64a);
background: -moz-linear-gradient(90deg, #fc840b, #ffc64a);
background: -o-linear-gradient(90deg, #fc840b, #ffc64a);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc64a', endColorstr='#fc840b', GradientType='0');}
.o3-btn-icon{color:#fff;
border:1px solid #f17703;background:#fc8814;
background: -webkit-linear-gradient(90deg, #fc8814, #f17703);
background: -moz-linear-gradient(90deg, #fc8814, #f17703);
background: -o-linear-gradient(90deg, #fc8814, #f17703);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f17703', endColorstr='#fc8814', GradientType='0');}
.o3-btn-icon:hover{color:#fff;
border:1px solid #f17703;background:#f17703;
background: -webkit-linear-gradient(90deg, #f17703, #fc8814);
background: -moz-linear-gradient(90deg, #f17703, #fc8814);
background: -o-linear-gradient(90deg, #f17703, #fc8814);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8814', endColorstr='#f17703', GradientType='0');}
.w-btn-icon{background:#fff !important;border-color:#C0C0C0;filter:none;color:#353535 !important;}
.g-btn-icon{background-color:#E4E4E4;border-color:#C0C0C0;}
.g-btn-icon{
background:#A2A2A2;color:#353535;
background: -webkit-linear-gradient(90deg, #A2A2A2, #f2f2f2);
background: -moz-linear-gradient(90deg, #A2A2A2, #f2f2f2);
background: -o-linear-gradient(90deg, #A2A2A2, #f2f2f2);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#A2A2A2', GradientType='0');}
.g-btn-icon:hover{
background:#a1a1a1;color:#353535;
background: -webkit-linear-gradient(90deg, #b1b1b1, #f2f2f2);
background: -moz-linear-gradient(90deg, #b1b1b1, #f2f2f2);
background: -o-linear-gradient(90deg, #b1b1b1, #f2f2f2);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#b1b1b1', GradientType='0');}
.disabled,.disabled:hover{background:#f5f5f5 !important;border-color:#D8D8D8 !important;color:#D1D1D1 !important;cursor:default !important;}
.transparent-btn-icon,
.transparent-btn-icon:hover{background:none !important;border:0 !important;filter:;}
.b-c-bd-style{border-color:#30a5d1 !important;color:#30a5d1 !important;}
.o-c-bd-style{border-color:#f4611b !important;color:#f4611b !important;}
.p-c-bd-style{border-color:#ff9999 !important;color:#ff9999 !important;}
.gg-c-bd-style{border-color:#72C555 !important;color:#72C555 !important;}
.g-c-bd-style{/*border-color:#c1c1c1 !important;color:#c1c1c1 !important;*/}
.black-c-bd-style{border-color:#777777 !important;color:#555 !important;}
.big-btn{padding:7px 20px !important;*padding:4px 20px !important;}
.L-big-btn{padding:11px 15px !important;*padding:8px 15px !important;font-size:15px;border-radius:3px;min-width:60px;}
.v-a-m{vertical-align: middle;}
.dis-i-b{display:inline-block;}
.w-btn-icon b{*line-height:100%;display:inline-block;vertical-align:middle;margin:-3px 5px 0 0;*margin:-5px 5px 0 0;}

/*webkit内核浏览器滚动条样式 start*/
.webkit-scroll::-webkit-scrollbar{width:14px;height:14px;}
.webkit-scroll::-webkit-scrollbar-track{background:none;border-radius:10px;}
.webkit-scroll::-webkit-scrollbar-thumb{background:#d1d1d1;box-shadow:-3px 0 0 white inset,3px 0 0 white inset;border-radius:10px;opacity:.5;}
.webkit-scroll::-webkit-scrollbar-thumb:hover{background:#ebebeb;box-shadow:-3px 0 0 white inset,3px 0 0 white inset,0 0 8px #888 inset;}
.webkit-scroll::-webkit-scrollbar-corner{/*边角*/}
.webkit-scroll::-webkit-scrollbar-button{/*两端的按钮*/}
/*浏览器滚动条样式 end*/

/*css3 transition*/
.tst-all-03{-webkit-transition:all .3s ease;transition:all .3s ease;}
.tst-all-05{-webkit-transition:all .5s ease;transition:all .5s ease;}
.tst-all-08{-webkit-transition:all .8s ease;transition:all .8s ease;}
.tst-all-1{-webkit-transition:all 1s ease;transition:all 1s ease;}
.tst-all-2{-webkit-transition:all 2s ease;transition:all 2s ease;}
.tst-all-3{-webkit-transition:all 3s ease;transition:all 3s ease;}
.tst-all-4{-webkit-transition:all 4s ease;transition:all 4s ease;}
.tst-all-5{-webkit-transition:all 5s ease;transition:all 5s ease;}
.tst-all-no{-webkit-transition:none !important;transition:none !important;}

/*css3 border-radius*/
.bd-rdu-no{border-radius:0px !important;}
.bd-rdu-3{border-radius:3px !important;}
.bd-rdu-5{border-radius:5px !important;}
.bd-rdu-10{border-radius:10px !important;}
.bd-rdu-10{border-radius:10px !important;}
.bd-rdu-round{border-radius:100% !important;}

/*css3 box-shadow*/
.b-sd-no{box-shadow:none !important;}

/*css3 gradient bg*/
.g-lg-bg{
background:#f2f2f2;
background: -webkit-linear-gradient(90deg, #f2f2f2, #fafafa);
background: -moz-linear-gradient(90deg, #f2f2f2, #fafafa);
background: -o-linear-gradient(90deg, #f2f2f2, #fafafa);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f2f2f2', GradientType='0');}

/*css3 animated define*/
.animated{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.animated.infinite {-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}
@-webkit-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
@-webkit-keyframes fadeOut{0%{opacity:1;}100%{opacity:0;}}
@keyframes fadeOut{0%{opacity:1;}100%{opacity:0;}}
.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut;}
@-webkit-keyframes scaleIn{0%{opacity:0;-webkit-transform:scale(.3);}100%{opacity:1;-webkit-transform:scale(1);}}
@keyframes scaleIn{0%{opacity:0;transform:scale(.3);}100%{opacity:1;transform:scale(1);}}
.scaleIn{-webkit-animation-name:scaleIn;animation-name:scaleIn;}
@-webkit-keyframes scaleOut {0%{opacity:1;-webkit-transform:scale(1);}100%{opacity:0;-webkit-transform:scale(.3);}}
@keyframes scaleOut {0%{opacity:1;transform:scale(1);}100%{opacity:0;transform:scale(.3);}}
.scaleOut{-webkit-animation-name:scaleOut;animation-name:scaleOut;}
@-webkit-keyframes maskScaleIn{0%{opacity:0;-webkit-transform:scale(.3);}100%{opacity:.3;-webkit-transform:scale(1);}}
@keyframes maskScaleIn{0%{opacity:0;transform:scale(.3);}100%{opacity:.3;transform:scale(1);}}
.maskScaleIn{-webkit-animation-name:maskScaleIn;animation-name:maskScaleIn;}
@-webkit-keyframes maskScaleOut {0%{opacity:.3;-webkit-transform:scale(1);}100%{opacity:0;-webkit-transform:scale(.3);}}
@keyframes maskScaleOut {0%{opacity:.3;transform:scale(1);}100%{opacity:0;transform:scale(.3);}}
.maskScaleOut{-webkit-animation-name:maskScaleOut;animation-name:maskScaleOut;}
/*css3 animated define end*/

/*common icon*/
.g-icon{background-image:url(../imgs/common_icon.png);background-repeat:no-repeat;}
.g-ib-vm-icon{background-image:url(../imgs/common_icon.png);background-repeat:no-repeat;display:inline-block;vertical-align:middle;overflow:hidden;}
.verified-by-icon{width:47px;height:32px;display:inline-block;overflow:hidden;background-position:0 -1247px;}
.p-v-b-icon{width:47px;height:32px;display:inline-block;overflow:hidden;background-position:0 -1943px;}
h2 .p-v-b-icon,
h2 .verified-by-icon{margin: 0 10px -7px 0;}
.point-icon{width:18px;height:18px;overflow:hidden;display:inline-block;}
.succ-icon{background-position:0 -1168px;}
.erro-icon{background-position:0 -1209px;}
.car-btn-icon{width:21px;height:18px;display:inline-block;overflow:hidden;margin-right:10px;background-position:0 -57px;}
.b-sort-icon{width:22px;height:16px;background-position:0 0;overflow:hidden;display:inline-block;margin-right:10px;vertical-align:middle;}
.ip-user-icon{width:22px;height:20px;display:inline-block;background-position:0 -1077px;}
.ip-password-icon{width:20px;height:21px;display:inline-block;background-position:0 -1123px;}
.ip-email-icon{width:21px;height:16px;display:inline-block;background-position:0 -1318px;}
.b-t-s-icon{width:40px;height:40px;display:inline-block;background-position:0 -167px;}
.g-s-next-icon{width:16px;height:24px;display:inline-block;background-position:0 -302px;}
.g-s-prev-icon{width:16px;height:24px;display:inline-block;background-position:0 -272px;}
.w-m-search-icon{width:25px;height:25px;background-position:0 -1016px;}
.w-s-search-icon{width:20px;height:20px;background-position:-48px -1016px;}
.g-s-search-icon{width:19px;height:15px;background-position:0 -995px;}
.g-s-w-search-icon{width:13px;height:13px;background-position:-54px -964px;}
.b-s-search-icon{width:20px;height:20px;background-position:-50px -994px;}
.b-m-v-icon{width:12px;height:12px;background-position:0px -1417px;}
.b-l-v-icon{width:21px;height:16px;background-position:-18px -1417px;}
.g-m-Down-icon{width:10px;height:12px;background-position:0px -1453px;}
.g-m-Up-icon{width:10px;height:13px;background-position:-15px -1453px;}
.g-m-b-Down-icon{width:10px;height:12px;background-position:-57px -455px;}
.g-m-b-Up-icon{width:10px;height:13px;background-position:-57px -504px;}
.g-m-w-Down-icon{width:10px;height:12px;background-position:-57px -471px;}
.g-m-w-Up-icon{width:10px;height:13px;background-position:-57px -488px;}
.g-ag-Up-icon{width:10px;height:5px;background-position:0px -1490px;}
.g-ag-Down-icon{width:10px;height:5px;background-position:-15px -1490px;}
.g-ag-Left-icon{width:10px;height:12px;background-position:-33px -1488px;}
.g-ag-Right-icon{width:10px;height:12px;background-position:-44px -1488px;}
.w-and-icon{width:10px;height:5px;background-position:-15px -1358px;}
.w-or-icon{width:10px;height:5px;background-position:0px -1358px;}
.w-lt-icon{width:5px;height:10px;background-position:-32px -1355px;}
.w-gt-icon{width:5px;height:10px;background-position:-43px -1355px;}
.g-and-icon{width:10px;height:5px;background-position:-15px -1909px;}
.g-or-icon{width:10px;height:5px;background-position:0px -1909px;}
.g-lt-icon{width:5px;height:10px;background-position:-32px -1906px;}
.g-gt-icon{width:5px;height:10px;background-position:-43px -1906px;}
.g-l-and-icon{width:14px;height:5px;background-position:-20px -1924px;}
.g-l-or-icon{width:14px;height:5px;background-position:0px -1926px;}
.g-l-lt-icon{width:7px;height:14px;background-position:-43px -1920px;}
.g-l-gt-icon{width:7px;height:14px;background-position:-60px -1920px;}
.g-s-or-icon{width:8px;height:4px;background-position:0px -1386px;}
.g-s-and-icon{width:8px;height:4px;background-position:-13px -1386px;}
.g-s-lt-icon{width:4px;height:8px;background-position:-26px -1385px;}
.g-s-gt-icon{width:4px;height:8px;background-position:-35px -1385px;}
.g-r-or-icon{width:16px;height:16px;background-position:0px -952px;}
.w-r-s-or-icon{width:14px;height:14px;background-position:-21px -952px;}
.b-s-defray-icon{width:12px;height:12px;background-position:0px -1398px;}
.b-s-v-icon{width:12px;height:12px;background-position:-17px -1398px;}
.b-s-Up-icon{width:9px;height:9px;background-position:-0px -1370px;}
.b-s-Down-icon{width:9px;height:9px;background-position:-16px -1370px;}
.b-s-Up2-icon{width:9px;height:9px;background-position:-58px -1355px;}
.b-s-Down2-icon{width:9px;height:9px;background-position:-58px -1370px;}
.pencil-icon{width:18px;height:18px;background-position:-45px -1415px;}
.i-save-icon{width:20px;height:20px;background-position:-0px -833px;}
.b-hook-icon{width:16px;height:16px;background-position:-25px -1168px;}
.w-rink-icon{width:16px;height:16px;background-position:-51px -1168px;}
.i-cancel-icon{width:20px;height:20px;background-position:-21px -833px;}
.g-dele-icon{width:13px;height:13px;background-position:0px -1534px;}
.b-s-papers-f-icon{width:18px;height:22px;background-position:0px -739px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.b-s-vdo-f-icon{width:18px;height:22px;background-position:-23px -739px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.b-s-service-f-icon{width:18px;height:22px;background-position:-46px -739px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.b-s-attach-f-icon{width:18px;height:22px;background-position:-46px -798px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.g-s-papers-f-icon{width:18px;height:22px;background-position:0px -766px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.g-s-vdo-f-icon{width:18px;height:22px;background-position:-23px -766px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.g-s-service-f-icon{width:18px;height:22px;background-position:-46px -766px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.g-s-attach-f-icon{width:18px;height:22px;background-position:-46px -825px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.b-m-papers-f-icon{width:34px;height:41px;background-position:0px -1599px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.b-m-vdo-f-icon{width:34px;height:41px;background-position:0px -1645px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.b-m-service-f-icon{width:34px;height:41px;background-position:0px -1692px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.b-m-attach-f-icon{width:34px;height:41px;background-position:0px -1599px;margin:-4px 6px 0 0;*margin:0px 6px 0 0;}
.p-close-icon{width:12px;height:12px;background-position:-55px -1472px;}
.g-m-lt-icon{width:12px;height:9px;background-position:0px -1472px;}
.g-m-gt-icon{width:12px;height:9px;background-position:-17px -1472px;}
.gg-branch-icon{width:11px;height:11px;background-position:0px -798px;margin:-3px 3px 0 0;*margin:0px 3px 0 0;}
.p-branch-icon{width:11px;height:11px;background-position:-16px -798px;margin:-3px 3px 0 0;*margin:0px 3px 0 0;}
.b-branch-icon{width:11px;height:11px;background-position:-56px -880px;margin:-3px 3px 0 0;*margin:0px 3px 0 0;}
.g-branch-icon{width:11px;height:11px;background-position:-32px -798px;margin:-3px 3px 0 0;*margin:0px 3px 0 0;}
.gg-add-icon{width:9px;height:9px;background-position:0px -817px;margin:-2px 3px 0 0;*margin:0px 3px 0 0;}
.p-add-icon{width:9px;height:9px;background-position:-14px -817px;margin:-2px 3px 0 0;*margin:0px 3px 0 0;}
.b-add-icon{width:9px;height:9px;background-position:-58px -862px;margin:-2px 3px 0 0;*margin:0px 3px 0 0;}
.g-add-icon{width:9px;height:9px;background-position:-28px -817px;margin:-2px 3px 0 0;*margin:0px 3px 0 0;}
.g-close-icon{width:25px;height:25px;background-position:-42px -272px;}
.w-close-icon{width:22px;height:22px;background-position:-26px -924px;}
.g-save-icon{width:13px;height:13px;background-position:-54px -1504px;}
.b-m-chat-icon{width:18px;height:18px;background-position:0 -1433px;*margin:0px 0px -4px 0;}
.y-m-collect-icon{width:18px;height:18px;background-position:0 -1982px;margin:-4px 0 0 0;*margin:0;}
.y-s-score-icon{width:17px;height:16px;background-position:-50px -1679px;}
.g-s-score-icon{width:17px;height:16px;background-position:-50px -1701px;}
.w-s-tread-icon{width:18px;height:17px;background-position:-49px -1633px;}
.w-s-top-icon{width:18px;height:17px;background-position:-49px -1655px;}
.add-folder-icon{width:14px;height:13px;background-position:0 -356px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.upload-icon{width:13px;height:13px;background-position:-24px -357px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.s-folder-icon{height:21px;width:18px;line-height:100%;vertical-align:middle;display:inline-block;overflow:hidden;margin:-3px 0 0 0;}
.s-folder-icon img{float:left;width:100%;height:100%;}
.w-minimize-icon{width:11px;height:11px;background-position:-23px -312px;}
.w-s-close-icon{width:11px;height:11px;background-position:-39px -312px;}
.w-maximize-icon{width:11px;height:11px;background-position:-56px -312px;}
.montage-icon{width:12px;height:14px;background-position:0 -29px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.o-s-play-icon{width:19px;height:19px;background-position:0 -88px;}
.r-like-icon{width: 17px;height: 15px;background-position:0 -116px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.s-avatar-icon{width: 13px;height: 13px;background-position:0 -143px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.s-s-avatar-icon{width: 16px;height: 15px;background-position:-20px -143px;margin:-3px 6px 0 0;*margin:3px 6px 0 0;}
.b-s-shop-icon{width: 16px;height: 16px;background-position:-23px -116px;margin:-3px 6px 0 0;*margin:3px 6px 0 0;}
.r-flag-icon{width: 17px;height: 17px;background-position:-50px 0;}
.y-flag-icon{width: 17px;height: 17px;background-position:-50px -19px;}
.b-flag-icon{width: 17px;height: 17px;background-position:-50px -38px;}
.b-s-message-f-icon{margin:1px 6px 0 0 !important;*margin:5px 6px 0 0 !important;}
.w-s-message-f-icon{width:21px;height:20px;background-position:-46px -1723px;}
.b-s-diamond-icon{width: 17px;height: 15px;background-position:-50px -67px;*margin:2px 0 0 0;}
.doc-zoom-decrease{width: 18px;height: 19px;background-position:-49px -127px;margin:-2px 0 0 0;}
.doc-zoom-decrease:hover{background-position:-49px -148px;}
.doc-zoom-add{width: 18px;height: 19px;background-position:-49px -85px;margin:-2px 0 0 0;}
.doc-zoom-add:hover{background-position:-49px -106px;}
.doc-reader-fullScreen{width: 18px;height: 18px;background-position:-49px -169px;}
.doc-reader-fullScreen:hover{background-position:-49px -189px;}
.doc-reader-narrow{width: 18px;height: 18px;background-position:-49px -521px;}
.doc-reader-narrow:hover{width: 18px;height: 18px;background-position:-49px -542px;}
.r-smiley-icon{width: 16px;height: 16px;background-position:-31px -1453px;margin:-3px 6px 0 0;*margin:2px 6px 0 0;}
.b-s-s-icon{width: 15px;height: 17px;background-position:0 -1797px;margin:-3px 6px 0 0;*margin:3px 6px 0 0;}
.b-s-t-icon{width: 16px;height: 17px;background-position:-25px -1797px;margin:-3px 6px 0 0;*margin:3px 6px 0 0;}
.b-s-cc-icon{width: 20px;height: 15px;background-position:-47px -1797px;margin:-3px 6px 0 0;*margin:0px 6px 0 0;}
.b-s-mb-icon{width: 13px;height: 18px;background-position:-26px -1820px;margin:-3px 6px 0 0;*margin:0 6px 0 0;}
.b-s-p-icon{width: 20px;height: 19px;background-position:0 -1820px;margin:-5px 6px 0 0;*margin:-2px 6px 0 0;}
.add-c-icon{width:23px;height:16px;display:inline-block; vertical-align:middle;position:relative;margin:-3px 6px 0 0;*margin:2px 6px 0 0;}
.add-c-icon em{display:block;position:absolute;left:0;top:0;border:solid #f3560c;}
.add-c-icon .e_1{width:15px;height:5px;border-width:1px;}
.add-c-icon .e_2{width:4px;height:6px;border-width:0 0 1px 1px;top:7px;left:3px;}
.add-c-icon .e_3{width:13px;height:3px;border-width:1px;top:11px;left:8px;}
.o-s-speaker-icon{width: 17px;height: 16px;background-position:0px -1850px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.o-s-gold-icon{width: 16px;height: 16px;background-position:-51px -1850px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.o-s-app-icon{width: 21px;height: 11px;background-position:0px -1876px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.s-credit-icon{width: 16px;height: 16px;background-position:-51px -1215px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.n-of-r-icon{width: 16px;height: 20px;background-position:-51px -1259px;margin:-5px 6px 0 0;*margin:0 6px 0 0;}
.b-r-b-icon{width:14px;height:14px;background-position:-29px 0;margin:-5px 6px 0 0;*margin:3px 6px 0 0;}
.b-r-r-icon{width:14px;height:14px;background-position:-29px -16px;margin:-2px 6px 0 0;*margin:2px 6px 0 0;}
.b-u-icon{width:14px;height:12px;background-position:-28px -32px;}
.g-u-icon{width:14px;height:12px;background-position:-28px -46px;}
.w-u-icon{width:14px;height:12px;background-position:-28px -60px;}
.b-add2-icon{width:10px;height:10px;background-position:-31px -74px;margin:-2px 6px 0 0;*margin:0 6px 0 0;}
.w-ckb-t-icon{width:16px;height:12px;background-position:-52px -625px;}
.b-ckb-t-icon{width:16px;height:12px;background-position:-52px -640px;}
.b-ckb-f-icon{width:16px;height:12px;background-position:-52px -655px;}
.s-a-f-icon{width:12px;height:12px;background-position:-55px -670px;}
.w-a-f-icon{width:12px;height:12px;background-position:-55px -685px;}
.s-c-icon{width:12px;height:12px;background-position:-55px -700px;}
.w-c-icon{width:12px;height:12px;background-position:-55px -714px;}
.s-b-o-icon{width:10px;height:10px;background-position:-25px -273px;margin:-2px 6px 0 0;*margin:0 6px 0 0;}
.s-w-o-icon{width:10px;height:10px;background-position:-25px -289px;margin:-2px 6px 0 0;*margin:0 6px 0 0;}
/*admin icon style*/
.adm-menu-icon{background-image:url(../imgs/adm_menu_icon.png);background-repeat:no-repeat;background-repeat:no-repeat;display:inline-block;vertical-align:middle;overflow:hidden;width:23px;height:21px;}
.adm-1-icon{background-position:0 0;}
.adm-2-icon{background-position:0 -21px;}
.adm-3-icon{background-position:0 -42px;}
.adm-4-icon{background-position:0 -63px;}
.adm-5-icon{background-position:0 -84px;}
.adm-6-icon{background-position:0 -105px;}
.adm-7-icon{background-position:0 -126px;}
.adm-8-icon{background-position:0 -147px;}
.adm-9-icon{background-position:0 -168px;}
.adm-10-icon{background-position:0 -189px;}
/*app icon style*/
.g-app-icon{background-image:url(../imgs/app_icon.png);background-repeat:no-repeat;background-repeat:no-repeat;display:inline-block;vertical-align:middle;overflow:hidden;width:62px;height:62px;}
.app-1-icon{background-position:0 0;}
.app-2-icon{background-position:0 -62px;}
.app-3-icon{background-position:0 -124px;}
.app-4-icon{background-position:0 -186px;}
.g-s-delete-icon{width:13px;height:12px;background-position:-54px -364px;margin:-3px 6px 0 0;*margin:2px 6px 0 0;}
/*defray icon style*/
.g-d_icon{background:url(../imgs/defray_icon.png) no-repeat;display:inline-block;vertical-align:middle;overflow:hidden;width:35px;height:26px;}
.g-d_1_icon{background-position:0px 0px;}
.g-d_2_icon{background-position:-37px 0px;}
.g-d_3_icon{background-position:-74px 0px;}
/*services_icon style*/
.l-services-icon{background-image:url(../imgs/services_icon.png);background-repeat:no-repeat;display:inline-block;vertical-align:middle;overflow:hidden;width:50px;height:50px;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;}
.q-a-icon{background-position:5px 0;}
.assess-icon{background-position:0 -50px;margin-right:-12px;}
.one-services-icon{background-position:7px -100px;}
.real-time-icon{background-position:6px -150px;}
.synchronous-icon{background-position:5px -200px;}
.site-icon{background-position:4px -250px;}
/*special_services_icon style*/
.s-s-vm-icon{background-image:url(../imgs/special_services_icon.png);background-repeat:no-repeat;display:inline-block;vertical-align:middle;overflow:hidden;width:145px;height:145px;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;}
.s-s-vm-icon.icon-1{background-position:0 0;}
.s-s-vm-icon.icon-2{background-position:0 -145px;}
.s-s-vm-icon.icon-3{background-position:0 -290px;}
.s-s-vm-icon.icon-4{background-position:0 -435px;}
.s-s-vm-icon.icon-5{background-position:0 -580px;}
.s-s-vm-icon.icon-6{background-position:0 -725px;}
li{position:relative;}
.key-clean{position: absolute;bottom: 10px;right: 0;border-left: 1px solid  #ccc;height: 30px;line-height: 30px;padding: 0 10px;cursor: pointer;}
.key-clean:active{background-color:#ccc;}