<div class="apply-space">
    <div class="h20"></div>
    <div class="b-wid">
        <section class="b-l">
            <div class="l-w odd">
                <div class="h20"></div>
                <div class="l-fs-24">
                    实名认证
                </div>
                <div class="h20"></div>
                <div class="l-tab">
                    <div class="ball-1" ng-click="toStep(0)">
                        <div class="ball" ng-class="{'bg-blue':step<1}">
                            <div ng-show="step>0" class="i-check"></div>
                            <span ng-hide="step>0">1</span>
                        </div>
                    </div>
                    <div class="ball-2">
                        <div class="ball" ng-class="{'bg-blue':step==1}">
                            <div ng-show="step>1" class="i-check"></div>
                            <span ng-hide="step>1">2</span>
                        </div>
                    </div>
                    <div class="ball-3">
                        <div class="ball" ng-class="{'bg-blue':step>1}">3</div>
                    </div>
                    <div class="f-l l-tab-1 l-tab-one" ng-click="toStep(0)" ng-class="{'bg-blue':step<1}">签订开通协议书</div>
                    <div class="f-l l-tab-1" ng-class="{'bg-blue':step==1}">提交资料</div>
                    <div class="f-l l-tab-1 l-tab-three" ng-class="{'bg-blue':step>1}">系统审核</div>
                    <div class="clear"></div>
                </div>
                <div class="h20"></div>
            </div>
            <section ng-show="step<1" class="odd l-w">
                <div class="l-protocol l-scrollbar mg-b30">
                    酷校课程发布者注册协议
                    <br /> 导言
                    <br /> 欢迎您使用酷校提供的服务！
                    <br /> 为使用酷校提供的服务（以下简称：本服务），您应当阅读并遵守《酷校课程发布者注册协议》（以下简称：本协议）、《酷校服务协议》、《手机号码规则》等相关协议、规则。
                    <br /> 请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议、规则。
                    <br /> 除非您已阅读并接受本协议及相关协议、规则等所有条款，否则，您无权使用酷校提供的本服务。您使用酷校的本服务，即视为您已阅读并同意上述协议、规则等的约束。
                    <br /> 您有违反本协议的任何行为时，酷校有权依照违反情况，随时单方限制、中止或终止向您提供本服务，并有权追究您的相关责任。
                    <br /> 1. 术语含义
                    <br /> 如无特别说明，下列术语在本协议中的含义为：
                    <br /> 1.1.
                    <br /> 课程发布者：指经有效注册、申请后，将其享有相应权利的各种课程接入酷校并向用户提供各种免费或收费类的在线直播、点播服务以实现与用户进行在线交流与学习目的的个人、法人或其他组织，因前述主体的不同，课程发布者在对外展现上也称“机构”或“老师”，本协议中简称为“您”。
                    <br /> 1.2.
                    <br /> 课程：指由课程发布者开发，或课程开发者经权利人授权，通过酷校向相关用户提供各种免费或收费类的在线直播、点播形式的交流与学习服务，包括但不限于网络营销类、语言类、公务员考试类、小学/初中/高中教育辅导类（非学历教育）等现存的各种培训服务及今后可能出现的各种培训服务。课程是否收费、课程收费的数额及课程收费方式等均由课程发布者自行决定。
                    <br /> 1.3.
                    <br /> 酷校：指由酷校所拥有、控制、经营的酷校网（kuxiao.cn）、未来将上线的其他平台或网站及前述各平台网站的下属子页面，以下简称为“酷校平台”、“酷校”、“平台”。酷校通过酷校向您提供的服务包括但不限于提供课程运营平台、费用支付服务、广点通推广服务等服务，具体以酷校提供和您选择的服务为准，前述服务称为酷校服务、平台服务、本服务。酷校、课程发布者均同意和理解：
                    <br /> 1.3.1.
                    <br /> 酷校是一个中立的平台服务提供者，仅向课程发布者提供信息存储空间、链接等中立的网络服务或相关中立的技术支持服务，以供课程发布者在中立的平台上自主发布、运营、推广其课程等；
                    <br /> 1.3.2.
                    <br /> 课程发布者的课程由课程发布者自主开发、独立运营并独立承担全部责任。酷校不会、也不可能参与课程发布者课程的研发、运营等任何活动，酷校也不会对课程发布者的课程进行任何的修改、编辑或整理等；
                    <br /> 1.3.3.
                    <br /> 因课程发布者课程及服务产生的任何纠纷、责任等，以及开发者违反相关法律法规或本协议约定引发的任何后果，均由课程发布者独立承担责任、赔偿损失，与酷校无关。如侵害到酷校或他人权益的，课程发布者须自行承担全部责任和赔偿一切损失。
                    <br /> 1.4.
                    <br /> 酷校运营数据：是指用户、课程发布者在使用酷校相关服务中产生的相关运营数据，包括但不限于用户或课程发布者操作行为形成的数据、各类交易数据等，“酷校数据”、“平台数据、“运营数据”。“酷校运营数据”的所有权及其他相关权利属于酷校，且是酷校的商业秘密，未经酷校书面授权您不得使用。但依法属于用户、课程发布者享有相关权利的数据或课程内容等除外。
                    <br /> 2. 课程发布者的权利和义务
                    <br /> 2.1.
                    <br /> 帐户注册
                    <br /> 2.1.1.
                    <br /> 您应当通过登录酷校网站或酷校其他指定途径，使用手机号码注册课程发布者帐户（下简称：账户）以成为课程发布者，课程发布者帐户一经注册成功， 相应的帐号不得变更，且该帐户不可转让、不可赠予、不可继承等。
                    <br /> 2.1.2.
                    <br /> 您注册帐号时，应使用您拥有合法使用权的手机号码，并遵守《手机号码规则》及相关协议、规则等的约束。
                    <br /> 2.1.3.
                    <br /> 您不得违反本协议约定将您的账户用于其他目的。否则，酷校有权随时单方限制、中止或终止向您提供本服务，且未经酷校同意您不得再次使用本服务。
                    <br /> 2.1.4.
                    <br /> 您注册帐号使用的手机号码，是您登录及使用本服务的凭证。您应当做好手机号码、密码，以及进入和管理本服务中的各类产品与服务的口令、密码等的保密措施。 因您保密措施不当或您的其他行为，致使上述口令、密码等丢失或泄漏所引起的一切损失和后果，均由您自行承担。
                    <br /> 2.1.5.
                    <br /> 酷校可能会向您提供添加其他手机账号以成为您注册账号的账号管理员的功能，如酷校向您提供账号管理员功能后，您可以根据自己的需求，在使用相应手机号码注册成您账号的账号管理员后，进行您指定或授权的操作。
                    <br /> 2.1.6.
                    <br /> 您保证：您注册本服务账户的手机号码及您添加的账号管理员使用的手机号码的使用权均是合法获取的。前述全部手机号码在本服务中进行的包括但不限于以下事项：注册本服务帐户、提交相应资质材料、确认和同意相关协议和规则、选择具体服务类别以及进行费用结算等事项，均是您自行或您授权他人进行的行为，对您均有约束力。同时，您承担以前述全部手机号码为标识进行的全部行为的法律责任。
                    <br /> 2.1.7.
                    <br /> 若您发现有他人冒用或盗用您的账户及密码、或任何其他未经您合法授权的情形时， 您应立即以有效方式通知酷校并提供酷校所需的相关材料（包括但不限于提供您的身份信息和相关身份资料、相关事实情况及您的要求等）。 酷校收到您的有效请求并核实身份后，会根据不同情况采取相应措施。若您提供的信息不完全，导致酷校无法核实您的身份或酷校无法判断您的需求等， 而导致酷校无法进行及时处理，给您带来的损失，您应自行承担。同时，酷校对您的请求采取措施需要合理期限，对于您通知酷校以及酷校根据您的有效通知采取措施之前， 由于他人行为给您造成的损失，酷校不承担任何责任。
                    <br /> 2.2.
                    <br /> 资质材料
                    <br /> 2.2.1.
                    <br /> 您保证：您具备使用本服务、接入和运营课程或提供相关服务等行为的相关合法资质或已经过了相关政府部门的审核批准；您提供的主体资质材料、相关资质或证明以及其他任何文件等信息真实、准确、完整，并在信息发生变更后，及时进行更新；您具备履行本协议项下之义务、各种行为的能力；您履行相关义务、从事相关行为不违反任何对您的有约束力的法律文件。否则，您应不使用酷校提供的相关服务，且应独自承担由此带来的一切责任及给用户、酷校造成的全部损失。
                    <br /> 2.2.2.
                    <br /> 您保证：您会依法及按照酷校要求提交使用本服务所必须的真实、准确的经过您签章确认的主体资质材料以及联系人姓名（名称）、地址、电子邮箱等相关资料。
                    <br /> 2.2.3.
                    <br /> 您保证：您在酷校上通过您的课程提供的各种服务，依法已经具有相关的合法资质或获得了有关部门的许可或批准，并会向酷校提交相关资质或证明文件。
                    <br /> 2.2.4.
                    <br /> 您保证：您在酷校上通过您的课程提供的各种服务，符合国家相关法规的规定，不违反任何相关法规及相关协议、规则，也不会侵犯任何人的合法权益， 同时，会依法、依约或按照酷校的要求提供版权、专利权等相关证明文件。
                    <br /> 2.3.
                    <br /> 服务费用
                    <br /> 2.3.1.
                    <br /> 目前，酷校向您提供酷校服务是免费的，如后续酷校可能会对服务进行调整，并有权根据运营情况单独决定是否向您收取相应服务费用。
                    <br /> 2.3.2.
                    <br /> 如后续酷校向您收取相应服务费用的，您因使用酷校提供的相关服务而产生的所有服务费用由您自行承担，您应按相关协议、规则等的规定支付费用，否则，酷校有权不提供相关服务。您选择使用相关服务并支付费用后，在服务未到期之前，若您单方要求提前解除服务的， 酷校有权将您未使用的服务对应的费用不予退还而作为您单方违约的违约金予以没收。
                    <br /> 在本服务中，酷校如需对服务收取相应服务费用的，酷校有权单方根据实际需要对收费服务的收费标准、方式进行修改和变更，前述修改、变更前，酷校将在相应服务页面进行通知或公告。如果您不同意上述修改、变更，则应立即停止使用相应服务，否则，您的任何使用行为，即视为您同意上述修改、变更。
                    <br /> 您若对酷校提供的收费标准、服务使用期限等费用结算事项的通知内容有异议的，应在收到酷校通知后及时以书面形式告知酷校，酷校收到您的书面告知会进行核实，否则，视为您认可酷校提供的费用结算事项的通知内容，双方应按照酷校提供的费用结算事项的通知内容，进行费用的结算及支付等。
                    <br /> 您理解并同意：若酷校按照前述约定对于本服务是否收费、收费标准等单方做出调整、变化的，您会予以全部遵守、同意，但您依法或按照约定终止使用本服务的除外。
                    <br /> 2.4.
                    <br /> 课程要求
                    <br /> 2.4.1.
                    <br /> 您应自行负责您课程的开发、创建、上课、管理、运营等工作，并且自行承担相应的费用。如您的课程是聘请第三方自然人（该第三方可能是您签订劳动合同的员工、外聘的专家等）以手机号码为标识来完成的，该第三方自然人以手机号码为标识的一切行为均视为您自身的行为，您同时应当承担该第三方自然人以手机号码为标识的一切行为承担法律责任。
                    <br /> 2.4.2.
                    <br /> 您的课程，应符合相关法规、技术规范或标准等，同时，还应符合酷校的对接入课程在内容、服务等方面的统一要求和您在课程介绍页面对课程的介绍， 以确保课程可以在酷校真实、安全、稳定的运营。
                    <br /> 2.4.3.
                    <br /> 您不得在课程内宣传与本课程无关的任何其他信息，包括但不限于广告、其他的课程产品信息等（除非双方另有约定）， 也不得在课程内添加指向非酷校拥有或控制或酷校书面同意的网站链接。
                    <br /> 2.4.4.
                    <br /> 您课程在酷校上运营期间，您需向用户提供及时有效的客户服务，客户服务形式包括但不限于通过明确且合理的方式告知用户客户服务渠道、 提供手机/电话等，并自行承担客服费用。
                    <br /> 2.4.5.
                    <br /> 您应当在课程中向相关权利人提供投诉途径，确保权利人在认为您侵犯其合法权益时可以向您主张权利。
                    <br /> 2.4.6.
                    <br /> 如果您的课程符合酷校支付接入的相关要求时，则可依相关规范、流程等接入到酷校的支付系统。
                    <br /> 2.5.
                    <br /> 课程运营
                    <br /> 2.5.1.
                    <br /> 您应自行按照相关法规，运营您的课程，履行相关义务，并自行承担全部责任，包括但不限于：
                    <br /> （1）依照相关法律法规的规定，保留相应的访问、使用等日志记录；
                    <br /> （2）国家有权机关向您依法查询相关信息时，应积极配合提供；
                    <br /> （3）主动履行其他您依法应履行的义务。
                    <br /> 2.5.2.
                    <br /> 您保证：
                    <br /> （1）您的课程、提供给用户的相关服务及发布的相关信息、内容等，不违反相关法律、法规、政策等的规定及本协议或相关协议、规则等，也不会侵犯任何人的合法权益；
                    <br /> （2）课程上课过程中应尊重用户知情权、选择权，应当坚持诚信原则，不误导、欺诈、混淆用户，尊重用户的隐私，不骚扰用户，不制造垃圾信息。
                    <br /> （3）如您的股东或高级管理人员（包括但不限于董事长、总经理、财务总监等）同时也为酷校及酷校关联公司的员工（包括酷校的试用期员工、正式员工、劳务派遣形式的员工及其他受酷校及酷校关联公司管理的其他性质的员工或人员）时，您应当在注册时主动书面告知酷校。
                    <br /> 2.5.3.
                    <br /> 您不得从事任何包括但不限于以下的违反法规的行为，也不得为以下违反法规的行为提供便利（包括但不限于为您课程的用户的行为提供便利等）：
                    <br /> （1）反对宪法所确定的基本原则的行为；
                    <br /> （2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的行为；
                    <br /> （3）损害国家荣誉和利益的行为；
                    <br /> （4）煽动民族仇恨、民族歧视，破坏民族团结的行为；
                    <br /> （5）破坏国家宗教政策，宣扬邪教和封建迷信的行为；
                    <br /> （6）散布谣言，扰乱社会秩序，破坏社会稳定的行为；
                    <br /> （7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的行为；
                    <br /> （8）侮辱或者诽谤他人，侵害他人合法权益的行为；
                    <br /> （9）侵害他人知识产权、商业秘密等合法权利的行为；
                    <br /> （10）恶意虚构事实、隐瞒真相以误导、欺骗他人的行为；
                    <br /> （11）发布、传送、传播广告信息及垃圾信息；
                    <br /> （12）其他法律法规禁止的行为。
                    <br /> 2.5.4.
                    <br /> 您不得从事包括但不限于以下行为，也不得为以下行为提供便利（包括但不限于为您的用户的行为提供便利等）：
                    <br /> （1）删除、隐匿、改变酷校显示或其中包含的任何专利、著作权、商标或其他所有权声明；（2）以任何方式干扰或企图干扰酷校任何产品、任何部分或功能的正常运行，或者制作、发布、传播上述工具、方法等；（3）未经酷校书面许可，您在课程中不得使用包括但不限于”酷校”、其他酷校商标标识或其任何变体、缩写、 改写等；（4）避开、尝试避开或声称能够避开任何内容保护机制，或导致用户认为其直接与酷校及酷校相关产品进行交互；（5）在未获得酷校书面许可的情况下，以任何方式使用酷校URL地址、技术接口等；（6）在未经过用户同意的情况下，向任何其他用户及他方显示或以其他任何方式提供该用户的任何信息；（7）请求、收集、索取或以其他方式获取用户手机、等酷校服务的登录帐号、密码或其他任何身份验证凭据；（8）在没有获得用户明示同意的情况下，直接联系用户，或向用户发布任何商业广告及骚扰信息；（9）为任何用户自动登录到酷校提供代理身份验证凭据；（10）提供跟踪功能，包括但不限于识别其他用户在个人主页上查看、点击等操作行为；（11）自动将浏览器窗口定向到其他网页；（12）未经授权获取对酷校产品或服务的访问权；（13）课程服务内容中含有计算机病毒、木马或其他恶意程序等任何可能危害酷校或用户权益和终端信息安全等的内容；（14）设置或发布任何违反相关法规、公序良俗、社会公德等的玩法、内容等；（15）公开表达或暗示，您与酷校之间存在合作关系，包括但不限于相互持股、商业往来或合作关系等，或声称酷校对您的认可；（16）未经酷校许可，实施包括但不限于以赠送、发售等方式使用酷校或第三方的任何虚拟货币或品牌服务（例如Q币、Q点、黄钻等）的行为；（17）其他酷校认为不应该、不适当的行为、内容。
                    <br /> 2.5.5.
                    <br /> 本服务中可能会使用第三方软件或技术，若有使用， 前述第三方软件或技术相关协议或其他文件，均是本协议不可分割的组成部分，与本协议具有同等的法律效力，您应当遵守这些要求。 否则，因此带来的一切责任您应自行承担。如因本服务使用的第三方软件或技术引发的任何纠纷，由该第三方负责解决。
                    <br /> 2.6.
                    <br /> 课程的下线规则
                    <br /> 2.6.1.
                    <br /> 您发布课程后，无论课程是否收费，在课程未按照您发布课程时的安排履行完毕的，或课程有用户已经报名但未学习完的，在未经已报名但未学习完用户和酷校都同意的前提下，您不得擅自终止课程的运营或服务的提供。
                    <br /> 2.6.2.
                    <br /> 您发布课程后，无论课程是否收费，在课程未按照您发布课程时的安排，或课程有用户已经报名但仍未学习完的，若您确须要提前终止课程运营或服务提供，您应至少提前通知用户和酷校，同时，您在取得已报名但未学习完用户同意并妥善处理相关退费或各类用户损失等事宜后，并经酷校同意后，方可终止相关课程的运营或服务的提供。
                    <br /> 2.6.3.
                    <br /> 您发布课程后，无论课程是否收费，在课程未按照您发布课程时的安排，或课程有用户已经报名但仍未学习完的，若您发布的课程由于违反相关法规或本协议相关约定时，您应该按照酷校的要求终止课程的运营或酷校有权随时终止课程的运营或服务的提供，同时，您应妥善处理已报名但未学习完用户的退费、各类用户损失等问题，若由此造成用户、酷校损失或有纠纷的，您应负责解决相关纠纷并自行承担全部责任。
                    <br /> 2.6.4.
                    <br /> 若课程因为任何原因需要下线的，在课程下线过程中，您应积极与用用户联系并妥善处理已报名但未学习完用户的退费、各类用户损失等事宜，依法保护用户的合法权益不受损害，否则，若由此造成用户、酷校损失或有纠纷的，您应负责解决相关纠纷并自行承担全部责任。同时，您应发布下线公告直至课程下线（下线公告应当包含但不限于下线时间、退费方式、用户补偿方案、客服联系电话等内容），且您不得强制用户切换到其他第三方平台进行学习，亦不得免除自身对未结束课程进行退款责任等义务。如您选择退还用户已支付的课程相应费用、补偿用户损失的，您同意酷校在您的账户结算额中直接扣除前述退还给用户的课程相应费用、补偿用户损失费用等全部费用，具体退款流程可参见酷校现有的或后续颁布的相关规则或说明。
                    <br /> 2.7.
                    <br /> 关于用户数据的规则
                    <br /> 2.7.1.
                    <br /> 您的课程或服务对于用户数据的收集、保存、使用等必须满足以下要求：（1）您的课程或服务需要收集用户任何数据的，必须事先获得用户的明确同意，且仅应当收集为课程运行而必要的用户数据， 同时应当告知用户相关数据收集的目的、范围及使用方式等，保障用户知情权；（2）您收集用户的数据后，必须采取必要的保护措施，防止用户数据被盗、泄漏等；（3）您在特定课程中收集的用户数据仅可以在该特定课程中使用，不得将其使用在该特定课程之外或为其他任何目的进行使用，也不得以任何方式将其提供给他人；（4）您应向用户提供隐私保护政策。隐私保护政策须在课程界面上明显位置向用户展示。
                    <br /> 2.7.2.
                    <br /> 您不得收集用户的隐私信息数据及其他酷校认为属于敏感信息范畴的数据，包括但不限于不得收集或要求用户提供任何手机号码、手机密码、用户关系链、好友列表数据、银行账号和密码等。
                    <br /> 2.7.3.
                    <br /> 您不得使用酷校数据用于向用户进行广告宣传使用。
                    <br /> 2.7.4.
                    <br /> 如果酷校认为您收集、使用用户数据的方式，可能损害用户体验，酷校有权要求您删除相关数据并不得再以该方式收集、使用用户数据。
                    <br /> 2.7.5.
                    <br /> 酷校有权限制或阻止您获取用户数据及酷校数据。
                    <br /> 2.7.6.
                    <br /> 未经酷校事先书面同意， 您不得为本协议约定之外的目的使用用户数据或平台运营数据，亦不得以任何形式将前述数据提供给他人。
                    <br /> 2.7.7.
                    <br /> 一旦课程发布者停止使用酷校，或酷校基于任何原因终止您使用本服务，您必须立即删除全部从酷校中获得的数据（包括各种备份）， 且不得再以任何方式进行使用。
                    <br /> 2.7.8.
                    <br /> 您应自行对因使用本服务而存储在酷校服务器的各类数据等信息，在本服务之外，采取合理、安全的技术措施，确保其安全性， 并对自己的行为（包括但不限于自行安装软件、采取加密措施或进行其他安全措施等）所引起的结果承担全部责任。
                    <br /> 2.8.
                    <br /> 法律责任
                    <br /> 2.8.1.
                    <br /> 您保证：如果您使用本服务产生相应费用的，您会按照本协议及相关协议、规则等支付相关费用。否则，您理解并同意：每延期一日，您应当向酷校支付所欠费用千分之一的违约金。同时，酷校有权随时单方采取包括但不限于以下措施中的一种或多种，以维护自己的合法权益。
                    <br /> （1）从其他酷校应支付给您或您关联公司的任何费用中直接抵扣；（2）暂停向您或您关联公司结算或支付任何费用；（3）中止、终止您或您关联公司使用本服务；（4）中止、终止您或您关联公司的后台管理权限；（5）删除您或您关联公司在使用本服务中存储的任何数据；（6）禁止您今后将您的任何新课程接入酷校；（7）其他酷校可以采取的为维护自己权益的措施。
                    <br /> 2.8.2.
                    <br /> 您保证：您使用本服务及您的任何行为，不违反任何相关法规、本协议和相关协议、规则等。您理解并同意：若酷校自行发现或根据相关部门的信息、权利人的投诉等发现您可能存在违反前述保证情形的，酷校有权根据一般人的认识自己独立判断，以认定您是否存在违反前述保证情形，若酷校经过判断认为您存在违反前述保证情形的，酷校有权随时单方采取以下一项或多项措施。
                    <br /> （1）要求您立即更换、修改违反前述保证情形的相关内容；（2）对存在违反前述保证情形的课程、您或您关联公司名下的全部课程或任何一款课程采取下线措施即终止课程在酷校的运营；（3）禁止您或您关联公司今后将任何新课程接入酷校；（4）中止、终止向违反前述保证情形的课程、您或您关联公司名下的全部课程或任何一款课程，或您或您关联公司提供部分或全部本服务；（5）追究您的法律责任；（6）将您的行为对外予以公告；（7）其他酷校认为适合的处理措施。
                    <br /> 2.8.3.
                    <br /> 如在酷校告知您或您自行得知您存在任何违法情形后，您应按法律法规或酷校的规定向酷校提出反通知。但是，无论酷校是否告知您、您是否提出反通知或反通知是否符合相关法规、酷校要求等，均不影响酷校进行自己的独立判断和采取相关措施。
                    <br /> 2.8.4.
                    <br /> 若酷校按照上述条款、本协议的其他相关约定或因您违反相关法律的规定，对您或您的课程采取任何行为或措施，所引起的纠纷、责任等一概由您自行负责，造成您损失的，您应自行全部承担，造成酷校或他人损失的，您也应自行承担全部责任。
                    <br /> 2.8.5.
                    <br /> 若酷校按照上述条款、本协议的其他相关约定或因您违反相关法律的规定，对您或您的课程采取任何行为或措施后，导致您没有使用到相应服务但已经缴纳相应费用的，对该部分费用，酷校有权不予退还，而作为您违反约定的违约金予以没收。
                    <br /> 3. 酷校的权利义务
                    <br /> 3.1.
                    <br /> 酷校会根据您选择的服务向您提供相应的服务，如后续酷校提供服务需要收费的，您应向酷校支付相应费用，酷校在您支付相应费用后，会向您提供相应的服务。
                    <br /> 3.2.
                    <br /> 保护您的信息的安全是酷校的一项基本原则，未经您的同意，酷校不会向酷校以外的任何公司、组织和个人披露、提供您的信息，但下列情形除外：
                    <br /> （1）据本协议或其他相关协议、规则等规定可以提供的；（2）依据法律法规的规定可以提供的；（3）行政、司法等政府部门要求提供的；（4）您同意酷校向第三方提供；（5）为解决举报事件、提起诉讼而需要提供的；（6）为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提供的。
                    <br /> 3.3.
                    <br /> 尽管酷校对您的信息保护做了极大的努力，但是仍然不能保证在现有的安全技术措施下，您的信息可能会因为不可抗力或非酷校因素造成泄漏、窃取等，由此给您造成损失的，您同意酷校可以免责。
                    <br /> 3.4.
                    <br /> 酷校有权开发、运营与您课程相似或相竞争的课程，同时酷校也不保证酷校上不会出现其他课程发布者提供的与您课程相竞争的课程。
                    <br /> 3.5.
                    <br /> 酷校有权在包括但不限于课程介绍页等，向用户阐述该课程为您开发以及由您向用户提供客户服务等。
                    <br /> 3.6.
                    <br /> 酷校可将本协议下的权利和义务的部分或全部转让给他人，如果您不同意酷校的该转让，则有权停止使用本协议下服务。否则，视为您对此予以接受。
                    <br /> 3.7.
                    <br /> 除了另行有约定外，酷校无需为按照本协议享有的权益而向您支付任何费用。
                    <br /> 3.8.
                    <br /> 您理解并同意：为向更多互联网使用者推广您的课程，酷校有权采取以下行为，而无须再取得您的同意。
                    <br /> （1）在酷校以外的平台、网站等采取各种形式对课程进行宣传、推广；（2）酷校可根据整体运营安排，自主选择向整个或部分全世界范围内的互联网用户提供您的课程；（3）有权为本协议目的使用您课程的LOGO、标识、名称、图片等相关素材。
                    <br /> 4. 广点通服务
                    <br /> 4.1
                    <br /> 广点通服务，指酷校向您提供的，供您将您所接入的课程或您提供的服务在其他酷校平台上进行推广的服务，是酷校向您提供的本服务的一部分， 是否使用该服务由您自行选择。该服务的相关协议、规则、公告、提示等，请见相应页面，您若选择使用该服务的，应按照广点通的要求进行开通，并遵守前述相关协议、 规则、公告、提示等。
                    <br /> 4.2
                    <br /> 您以任何形式登录、使用广点通服务，即表示您已理解并接受广点通服务的相关协议、规则、公告、提示等的约束。
                    <br /> 4.3
                    <br /> 您同意酷校有权无须经您同意或提前通知而直接对广点通服务的相关协议、规则等进行修改，修改后的内容一旦在网页上公布即有效代替原来的条款， 对您产生约束力。
                    <br /> 5. 关于免责
                    <br /> 5.1
                    <br /> 您理解并同意：鉴于网络服务的特殊性，酷校有权在无需通知您的情况下根据酷校的整体运营情况或相关运营规范、规则等，可以随时变更、中止或终止部分或全部的服务，若由此给您造成损失的，您同意放弃追究酷校的责任。
                    <br /> 5.2
                    <br /> 您理解并同意：为了向您提供更完善的服务，酷校有权定期或不定期地对提供本服务的平台或相关设备进行检修、维护、升级等，此类情况可能会造成相关服务在合理时间内中断或暂停的，若由此给您造成损失的，您同意放弃追究酷校的责任。
                    <br /> 5.3
                    <br /> 您理解并同意：酷校的服务是按照现有技术和条件所能达到的现状提供的。酷校会尽最大努力向您提供服务，确保服务的连贯性和安全性；但酷校不能保证其所提供的服务毫无瑕疵，也无法随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。所以您也同意：即使酷校提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为酷校违约，同时，由此给您造成的数据或信息丢失等损失的，您同意放弃追究酷校的责任。
                    <br /> 5.4
                    <br /> 您理解并同意：在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，酷校将努力在第一时间与相关单位配合，及时进行修复，若由此给您造成损失的，您同意放弃追究酷校的责任。
                    <br /> 5.5
                    <br /> 您理解并同意：若由于对以下情形导致的服务中断或受阻，给您造成损失的，您同意放弃追究酷校的责任：
                    <br /> （1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；（2）您或酷校的电脑软件、系统、硬件和通信线路出现故障；（3）您操作不当；（4）您通过非酷校授权的方式使用本服务；（5）其他酷校无法控制或合理预见的情形。
                    <br /> 6. 服务的中止或终止
                    <br /> 6.1
                    <br /> 如您书面通知酷校不接受本协议或对其的修改，酷校有权随时中止或终止向您提供本服务。
                    <br /> 6.2
                    <br /> 因不可抗力因素导致您无法继续使用本服务或酷校无法提供本服务的，酷校有权随时终止协议。
                    <br /> 6.3
                    <br /> 本协议约定的其他中止或终止条件发生或实现的，酷校有权随时中止或终止向您提供本服务。
                    <br /> 6.4
                    <br /> 由于您违反本协议约定，酷校依约终止向您提供本服务后，如您后续再直接或间接，或以他人名义注册使用本服务的， 酷校有权直接单方面暂停或终止提供本服务。
                    <br /> 6.5
                    <br /> 如本协议或本服务因为任何原因终止的，对于您的帐号中的全部数据或您因使用本服务而存储在酷校服务器中的数据等任何信息，酷校可将该等信息保留或删除，包括服务终止前您尚未完成的任何数据。
                    <br /> 6.6
                    <br /> 如本协议或本服务因为任何原因终止的，您应自行处理好关于数据等信息的备份以及与您的用户之间的相关事项的处理等，由此造成酷校损失的，您应负责赔偿。
                    <br /> 7. 关于通知
                    <br /> 7.1
                    <br /> 酷校可能会以网页公告、网页提示、电子邮箱、手机短信、常规的信件传送、您注册的本服务账户的管理系统内发送站内信等方式中的一种或多种， 向您送达关于本服务的各种规则、通知、提示等信息，该等信息一经酷校采取前述任何一种方式公布或发送，即视为您已经接受并同意，对您产生约束力。 若您不接受的，请您书面通知酷校并停止使用本服务，否则视为您已经接受、同意。
                    <br /> 7.2
                    <br /> 若由于您提供的电子邮箱、手机号码、通讯地址等信息错误，导致您未收到相关规则、通知、提示等信息的，您同意仍然视为您已经收到相关信息并受其约束， 一切后果及责任由您自行承担。
                    <br /> 7.3
                    <br /> 您也同意酷校或合作伙伴可以向您的电子邮件、手机号码等发送可能与本服务不相关的其他各类信息包括但不限于商业广告等。
                    <br /> 7.4
                    <br /> 若您有事项需要通知酷校的，应当按照本服务对外正式公布的联系方式书面通知酷校。
                    <br /> 8. 知识产权
                    <br /> 8.1
                    <br /> 酷校在本服务中提供的信息内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权均归酷校所有，依法属于用户、课程发布者及其他第三方所有的除外。 除另有特别声明外，酷校提供本服务时所依托软件的著作权、专利权及其他知识产权均归酷校所有。酷校在本服务中所使用的“酷校”形象等商业标识，其著作权或商标权归酷校所有。上述及其他任何酷校依法拥有的知识产权均受到法律保护，未经酷校书面许可， 您不得以任何形式进行使用或创造相关衍生作品。
                    <br /> 8.2
                    <br /> 您仅拥有依照本协议约定合法使用本服务或相关API的权利，与本服务相关的API相关的著作权、专利权等相关全部权利归酷校所有。 未经酷校书面许可，您不得违约或违法使用，不得向任何单位或个人出售、转让、转授权酷校的代码、API及开发工具等。
                    <br /> 9. 其他
                    <br /> 9.1
                    <br /> 酷校可能不断发布的关于本服务的其他相关协议、规则等内容均为本协议的附件，是本协议不可分割的部分，与本协议具有同等法律效力。
                    <br /> 9.2
                    <br /> 本协议内容同时包括《酷校服务协议》及酷校可能不断发布的关于本服务的其他相关协议、规则等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。 上述内容与本协议存在冲突的，以本协议为准。一经注册或使用本协议下任何服务，即视为您已阅读并同意接受本协议及上述内容的约束。 酷校有权在必要时单方修改本协议或上述内容，相关内容变更后，如果您继续使用本服务，即视为您已接受修改后的相关内容。 如果您不接受修改后的相关内容，应当停止使用相关服务。
                    <br /> 9.3
                    <br /> 本协议签订地为中华人民共和国广东省广州市天河区。
                    <br /> 9.4
                    <br /> 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。
                    <br /> 9.5
                    <br /> 若您和酷校之间发生任何纠纷或争议，首先应友好协商解决；协商不成功的，双方均同意将纠纷或争议提交本协议签订地有管辖权的人民法院解决。
                    <br /> 9.6
                    <br /> 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。（完）
                    <br />
                </div>
                <div class="l-reading">
                    <label>
                        <input type="checkbox" name="" ng-model="agree" /> 我已阅读并同意相关协议
                    </label>
                </div>
                <div class="l-btn" ng-class="{'bg-disable':!agree}" ng-click="next(1)">下一步</div>
                <div class="h50"></div>
            </section>
            <section ng-show="step==1">
                <form name="u">
                    <div class="h20 bg-b"></div>
                    <div id="info" class="l-w odd info pd-b85">
                        <div class="l-step-title">
                            个人信息
                        </div>
                        <div class="info-body">
                            <div class="l-id-info">
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>真实姓名
                                        </div>
                                        <input type="text" name="realName" value="" ng-model="data.realName" maxlength="16" ng-focus="realName=1" ng-blur="realName=-1" ng-pattern="regExp.name" placeholder="2到16个汉字、字母或下划线" required/>
                                    </label>
                                    <div ng-show="realName==1" class="l-input-tips">
                                        <i class="fa fa-info-circle blue"> </i>
                                    </div>
                                    <div ng-show="(u.realName.$error.pattern==true) && realName==-1" class="l-input-tips">
                                        <i class="fa fa-exclamation-circle red"></i><span class="red">请正确填写</span>
                                    </div>
                                    <div ng-show="u.realName.$error.pattern==false && realName==-1 " class="l-input-tips">
                                        <span ng-show="!data.realName">
                                                    <i class="fa fa-exclamation-circle red"></i><span class="red">不能为空</span>
                                        </span>
                                        <i ng-show="data.realName" class="fa fa-check-circle green"></i>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>所在学校/机构
                                        </div>
                                        <input type="text" name="school" value="" ng-model="data.school" maxlength="50" ng-focus="school=1" ng-blur="school=-1" ng-pattern="regExp.class" placeholder="2到50个汉字、字母（请用“逗号”或“分号”隔开）" required/>
                                    </label>
                                    <div ng-show="school==1" class="l-input-tips">
                                        <i class="fa fa-info-circle blue"> </i>
                                    </div>
                                    <div ng-show="(u.school.$error.pattern==true) && school==-1" class="l-input-tips">
                                        <i class="fa fa-exclamation-circle red"></i><span class="red">请正确填写</span>
                                    </div>
                                    <div ng-show="u.school.$error.pattern==false && school==-1 " class="l-input-tips">
                                        <span ng-show="!data.school">
                                                    <i class="fa fa-exclamation-circle red"></i><span class="red">不能为空</span>
                                        </span>
                                        <i ng-show="data.school" class="fa fa-check-circle green"></i>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>所教年级
                                        </div>
                                        <input type="text" name="class" value="" ng-model="data.grade" maxlength="30" ng-focus="class=1" ng-blur="class=-1" ng-pattern="regExp.class" placeholder="2到30个汉字、字母（请用“逗号”或“分号”隔开）" required/>
                                    </label>
                                    <div ng-show="class==1" class="l-input-tips">
                                        <i class="fa fa-info-circle blue"> </i>
                                    </div>
                                    <div ng-show="(u.class.$error.pattern==true) && class==-1" class="l-input-tips">
                                        <i class="fa fa-exclamation-circle red"></i><span class="red">请正确填写</span>
                                    </div>
                                    <div ng-show="u.class.$error.pattern==false && class==-1" class="l-input-tips">
                                        <span ng-show="!data.grade">
                                                    <i class="fa fa-exclamation-circle red"></i><span class="red">不能为空</span>
                                        </span>
                                        <i ng-show="data.grade" class="fa fa-check-circle green"></i>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>所教学科
                                        </div>
                                        <input type="text" name="course" value="" ng-model="data.subject" maxlength="50" ng-focus="course=1" ng-blur="course=-1" ng-pattern="regExp.class" placeholder="2到50个汉字、字母（请用“逗号”或“分号”隔开）" required/>
                                    </label>
                                    <div ng-show="course==1" class="l-input-tips">
                                        <i class="fa fa-info-circle blue"> </i>
                                    </div>
                                    <div ng-show="(u.course.$error.pattern==true) && course==-1" class="l-input-tips">
                                        <i class="fa fa-exclamation-circle red"></i><span class="red">请正确填写</span>
                                    </div>
                                    <div ng-show="u.course.$error.pattern==false && course==-1" class="l-input-tips">
                                        <span ng-show="!data.subject">
                                                    <i class="fa fa-exclamation-circle red"></i><span class="red">不能为空</span>
                                        </span>
                                        <i ng-show="data.subject" class="fa fa-check-circle green"></i>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>手机号码
                                        </div>
                                        <input type="text" name="tel" value="" ng-model="data.phone" maxlength="11" ng-focus="tel=1" ng-blur="tel=-1" ng-pattern="regExp.tel" placeholder="请输入手机号码" required/>
                                    </label>
                                    <div ng-if="false" class="check-btn mg-l20">验证手机</div>
                                    <div ng-show="tel==1" class="l-input-tips">
                                        <i class="fa fa-info-circle blue"> </i>
                                    </div>
                                    <div ng-show="(u.tel.$error.pattern==true) && tel==-1" class="l-input-tips">
                                        <i class="fa fa-exclamation-circle red"></i><span class="red">请正确填写</span>
                                    </div>
                                    <div ng-show="u.tel.$error.pattern==false && tel==-1" class="l-input-tips">
                                        <span ng-show="!data.phone">
                                            <i class="fa fa-exclamation-circle red"></i><span class="red">不能为空</span>
                                        </span>
                                        <i ng-show="data.phone" class="fa fa-check-circle green"></i>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <!-- <div class="l-input-text">
                                            <label>
                                                <div class="l-input-name">
                                                    <span class="red">*</span>验证码
                                                </div>
                                                <input type="text" name="email" value="" ng-model="data.email" maxlength="50" ng-focus="email=1" ng-blur="email=-1" ng-pattern="regExp.email" placeholder="请填写邮箱" required/>
                                                <div ng-show="email==1" class="l-input-tips">
                                                    <i class="fa fa-info-circle blue"> </i>请填写邮箱
                                                </div>
                                                <div ng-show="(u.email.$error.pattern==true|| data.email=='') && email==-1" class="l-input-tips">
                                                    <i class="fa fa-exclamation-circle red"></i><span class="red">请正确填写</span>
                                                </div>
                                                <div ng-show="u.email.$error.pattern==false && email==-1 && data.email!=''" class="l-input-tips">
                                                    <i class="fa fa-check-circle green"></i>
                                                </div>
                                                <div class="clear"></div>
                                            </label>
                                        </div> -->
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            常用邮箱
                                        </div>
                                        <input type="text" name="email" value="" ng-model="data.email" maxlength="100" ng-focus="email=1" ng-blur="email=-1" ng-pattern="regExp.email" placeholder="请输入邮箱" />
                                    </label>
                                    <div ng-show="email==1" class="l-input-tips">
                                        <i class="fa fa-info-circle blue"> </i>
                                    </div>
                                    <div ng-show="(u.email.$error.pattern==true) && email==-1" class="l-input-tips">
                                        <i class="fa fa-exclamation-circle red"></i><span class="red">请正确填写</span>
                                    </div>
                                    <div ng-show="u.email.$error.pattern==false && email==-1 && data.email" class="l-input-tips">
                                        <i class="fa fa-check-circle green"></i>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            合作意向描述
                                        </div>
                                        <textarea name="" ng-model="data.intention" maxlength="254" placeholder="请输入合作意向"></textarea>
                                        <div class="clear"></div>
                                    </label>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mg-t65">
                            <div class="l-btn odd  bg-disable" ng-hide="u.$valid&&data.idImg!=''">提交资料</div>
                            <div class="l-btn odd " ng-click="submitData()" ng-show="u.$valid&&data.idImg!=''">提交资料</div>
                        </div>
                    </div>
                </form>
            </section>
            <section ng-show="step==2">
                <div class="h20"></div>
                <div class="odd l-w">
                    <div class="bg-d-png"></div>
                    <a href="javascript:;" class="l-back-btn" ng-click="">返回首页</a>
                </div>
            </section>
            <section ng-show="step==3">
                <div class="h20"></div>
                <div class="odd l-w">
                    <div class="bg-e-png"></div>
                    <a href="javascript:;" class="l-back-btn l-320" ng-click="">返回首页</a>
                    <a href="javascript:;" class="l-back-btn re-sub" ng-click="toStep(1)">重新提交资料</a>
                </div>
            </section>
            <section ng-show="step==4">
                <div class="h20"></div>
                <div class="odd l-w">
                    <div class="bg-s-png"></div>
                    <a href="javascript:;" class="l-back-btn l-320" ng-click="">返回首页</a>
                    <a href="javascript:;" class="l-back-btn re-sub" ng-click="toStep(5)">查看认证资料</a>
                </div>
            </section>
            <section ng-show="step==5">
                <form name="u-read">
                    <div class="h20 bg-b"></div>
                    <div id="info-read" class="l-w odd info pd-b85">
                        <div class="l-step-title">
                            个人信息
                        </div>
                        <div class="info-body">
                            <div class="l-id-info">
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>真实姓名
                                        </div>
                                        <input type="text" name="realName" readonly="readonly" value="" ng-model="data.realName" maxlength="16" ng-focus="realName=1" ng-blur="realName=-1" ng-pattern="regExp.name" placeholder="(2到16个汉字、字母或下划线)" required/>
                                    </label>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>所在学校/机构
                                        </div>
                                        <input type="text" name="school" readonly="readonly" value="" ng-model="data.school" maxlength="50" ng-focus="school=1" ng-blur="school=-1" ng-pattern="regExp.class" placeholder="请输入所在学校或机构名称" required/>
                                    </label>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>所教年级
                                        </div>
                                        <input type="text" name="class" readonly="readonly" value="" ng-model="data.grade" maxlength="30" ng-focus="class=1" ng-blur="class=-1" ng-pattern="regExp.class" placeholder="请输入所教年级" required/>
                                    </label>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>所教学科
                                        </div>
                                        <input type="text" name="course" readonly="readonly" value="" ng-model="data.subject" maxlength="50" ng-focus="course=1" ng-blur="course=-1" ng-pattern="regExp.class" placeholder="请输入你所教学科" required/>
                                    </label>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            <span class="red">*</span>手机号码
                                        </div>
                                        <input type="text" name="tel" readonly="readonly" value="" ng-model="data.phone" maxlength="11" ng-focus="tel=1" ng-blur="tel=-1" ng-pattern="regExp.tel" placeholder="请输入手机号码" required/>
                                    </label>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            常用邮箱
                                        </div>
                                        <input type="text" name="email" readonly="readonly" value="" ng-model="data.email" maxlength="100" ng-focus="email=1" ng-blur="email=-1" ng-pattern="regExp.email" placeholder="请输入邮箱" />
                                    </label>
                                    <div class="clear"></div>
                                </div>
                                <div class="l-input-text">
                                    <label>
                                        <div class="l-input-name">
                                            合作意向描述
                                        </div>
                                        <textarea name="" ng-model="data.intention" readonly="readonly" maxlength="254" placeholder="请输入合作意向"></textarea>
                                        <div class="clear"></div>
                                    </label>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mg-t65">
                            <div class="l-btn odd " ng-click="toStep(4)">返回</div>
                        </div>
                    </div>
                </form>
            </section>
        </section>
        <section class="b-r">
            <section id="problem" class="r-border">
                <div class="r-title">
                    <i class="fa fa-info-circle i-c"></i>
                    <span>常见问题</span>
                </div>
                <div ng-repeat="pro in problems" class="pro-list" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="text-of">
                        <a ng-href="{{pro.href}}">{{pro.title}}</a>
                    </div>
                </div>
            </section>
            <section id="teacher-show" class="r-border mg-t20">
                <div class="r-title">
                    <div class="image-teacher-show i-teacher"></div>
                    <span>优秀实名主页展示</span>
                </div>
                <div class="teacher-list odd">
                    <div ng-repeat="t in teacherData" class="f-l" style="width:50%;">
                        <div class="r-img"><img alt="" ng-src="{{t.img}}" /></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        </section>
        <div class="clear"></div>
    </div>
    <upload-img-base64 class="cropper-tool" upload-data="uploadData"></upload-img-base64>
</div>
