<div class="edit-u-data" ng-class="{true:'gray-bg'}[index%2==0]">
	<div class="l-key-b" >{{name}}: </div>
	<div class="main-w" >
		<span class="select-ui" style="width: 82px;margin-right: 10px;" ng-repeat="select in selectList track by $index">
			<font class="val"  ng-click="select.display=!select.display">{{select.value}}</font>
			<span class="toggle-btn" ng-click="select.display=!select.display"><em class="g-ib-vm-icon g-l-and-icon" alt="收起" ng-show="select.display"></em><em class="g-ib-vm-icon g-l-or-icon" alt="展开" ng-show="!select.display"></em></span>
			<div class="pull-down" ng-show="select.display">
				<ul class="select-ul">
					<li class="li" ng-repeat="item in select.data" ng-click="getNextSelect(item,$parent.$index)">
					<a class="key"><span class="sp">{{item.name}}</span></a></li>
				</ul>
			</div>
		</span>		
	</div>	
</div>

