/********************* 
@Author bingoo
粉红色 - 店铺样式
*********************/
/*common icon*/
.g-icon{background-image:url(imgs/common_icon.png);background-repeat:no-repeat;}
.g-ib-vm-icon{background-image:url(imgs/common_icon.png);background-repeat:no-repeat;display:inline-block;vertical-align:middle;overflow:hidden;}


.shop-nav-wrap{background-color:#333333;}
.n-sort-hd{background-color:#2e2e2e;}
.n-sort-list .item.cur .item_t,
.n-sort-list .item .item_list .brd{border-color:#333333;}
