<section class="login-sso" ng-keydown="keydown()">
    <div class="main">
        <div>
        <form name="login">
            <label for="account">
                <div>用户名/邮箱</div>
                <div class="input-1" ng-class="{'b-blue':focus.account==1,'b-red':msg.account&&!focus.account}">
                    <input type="text" placeholder="邮箱/用户名/手机号" id="account" value="" maxlength="20" ng-model="lData.account" ng-focus="checkFocus('account')" ng-blur="checkLoginSso(lData,'account')" autofocus required>
                    <div class="tip tip-err" ng-class="c.tip.class" ng-show="msg.account&&!focus.account">
                        <span>{{msg.account}}</span>
                    </div>
                </div>
            </label>
            <label for="pwd">
                <div>密码</div>
                <div class="input-2" ng-class="{'b-blue':focus.password==1,'b-red':msg.password&&!focus.password}">
                    <input type="password" placeholder="密码" id="pwd" value="" maxlength="20" ng-model="lData.password" ng-focus="checkFocus('password')" ng-blur="checkLoginSso(lData,'password')" required>
                    <div class="tip tip-err" ng-class="c.tip.class" ng-show="msg.password&&!focus.password">
                        <span>{{msg.password}}</span>
                    </div>
                </div>
            </label>
        </form>
        <div class="list">
            <a class="blue-c" id="register" ng-click="register()">免费注册</a>
        </div>
        <div>
            <a class="btn btn-full" id="login" ng-mouseover="checkLoginSso(lData,'password')" ng-click="loginSso()">{{loginText}}</a>
        </div>
        </div>
    </div>
</section>
