.login-sso {
  width: 500px;
  height: 350px;
  border: 1px solid #bfbfbf;
}

.login-sso div {
  position: relative;
  width: 100%;
}

.login-sso .b-gray, .login-sso .input, .login-sso .input-1, .login-sso .input-2, .login-sso .tip {
  border: 1px solid #ccc;
}

.login-sso .b-red {
  border: 1px solid red;
}

.login-sso .b-blue {
  border: 1px solid #57a2d8;
}

.login-sso .b-err, .login-sso .tip.tip-err {
  border: 1px solid #ffb2b2;
}

.login-sso .blue-c {
  color: #0095CE;
}

.login-sso .input, .login-sso .input-1, .login-sso .input-2 {
  height: 30px;
  margin-top: 8px;
  margin-bottom: 30px;
  width: auto;
}

.login-sso .input-1 {
  background: #fff url(common_icon.png) no-repeat 10px -1073px;
}

.login-sso .input-2 {
  background: #fff url(common_icon.png) no-repeat 10px -1119px;
}

.login-sso .main {
  padding: 7% 16%;
  width: auto;
}

.login-sso .main input {
  width: 80%;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  border: 0;
  padding: 0;
  position: absolute;
  left: 42px;
  top: 4px;
}

.login-sso .btn {
  background: #348df1;
  background: -moz-linear-gradient(left, #1e71ce, #389eed);
  background: -o-linear-gradient(left, #1e71ce, #389eed);
  background: linear-gradient(90deg, #1e71ce, #389eed);
  color: #fff;
  box-shadow: none;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  cursor: painter;
}

.login-sso .btn:hover {
  background: -moz-linear-gradient(left, #297bd6, #31a5f2);
  background: -o-linear-gradient(left, #297bd6, #31a5f2);
  background: linear-gradient(90deg, #297bd6, #31a5f2);
}

.login-sso .btn-full {
  width: 100%;
  display: inline-block;
  height: 55px;
  font-size: 23px;
  line-height: 55px;
}

.login-sso .list {
  line-height: 50px;
}

.login-sso .tip {
  left: 0;
  position: absolute;
  top: 31px;
  height: 30px;
  line-height: 30px;
  margin-left: -1px;
  width: 100%;
  white-space: normal;
  background: #f2f2f2;
  z-index: 10;
}

.login-sso .tip span {
  margin-left: 10px;
}

.login-sso .tip.tip-right {
  left: 103%;
  top: -1px;
}

.login-sso .tip.tip-err {
  background-color: #fff2f2;
  color: #ff3333;
}

.login-sso .input-icon {
  position: absolute;
  right: 7px;
  top: 5px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  display: block;
  z-index: 20;
}

.login-sso .input-icon em {
  width: 18px;
  height: 18px;
  overflow: hidden;
  display: block;
}

.login-sso .input-icon .icon-su {
  background-image: url(common_icon.png);
  background-repeat: no-repeat;
  background-position: 0 -1168px;
}

.login-sso .input-icon .icon-err {
  background-image: url(common_icon.png);
  background-repeat: no-repeat;
  background-position: 0 -1209px;
}

@media screen and (max-width: 1240px) {
  .login-sso {
    width: 430px;
  }
}
